@font-face {
    font-family: 'Geist Mono';
    src: url('GeistMono-BlackItalic.woff2') format('woff2'),
        url('GeistMono-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Geist Mono';
    src: url('GeistMono-Black.woff2') format('woff2'),
        url('GeistMono-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geist Mono';
    src: url('GeistMono-Bold.woff2') format('woff2'),
        url('GeistMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geist Mono';
    src: url('GeistMono-BoldItalic.woff2') format('woff2'),
        url('GeistMono-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Geist Mono';
    src: url('GeistMono-ExtraBold.woff2') format('woff2'),
        url('GeistMono-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geist Mono';
    src: url('GeistMono-ExtraBoldItalic.woff2') format('woff2'),
        url('GeistMono-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Geist Mono';
    src: url('GeistMono-ExtraLight.woff2') format('woff2'),
        url('GeistMono-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geist Mono';
    src: url('GeistMono-ExtraLightItalic.woff2') format('woff2'),
        url('GeistMono-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Geist Mono';
    src: url('GeistMono-Light.woff2') format('woff2'),
        url('GeistMono-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geist Mono';
    src: url('GeistMono-Italic.woff2') format('woff2'),
        url('GeistMono-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Geist Mono';
    src: url('GeistMono-LightItalic.woff2') format('woff2'),
        url('GeistMono-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Geist Mono';
    src: url('GeistMono-Medium.woff2') format('woff2'),
        url('GeistMono-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geist Mono';
    src: url('GeistMono-MediumItalic.woff2') format('woff2'),
        url('GeistMono-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Geist Mono';
    src: url('GeistMono-Regular.woff2') format('woff2'),
        url('GeistMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geist Mono';
    src: url('GeistMono-SemiBoldItalic.woff2') format('woff2'),
        url('GeistMono-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Geist Mono';
    src: url('GeistMono-Thin.woff2') format('woff2'),
        url('GeistMono-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geist Mono';
    src: url('GeistMono-ThinItalic.woff2') format('woff2'),
        url('GeistMono-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

