@charset "UTF-8";
:root {
  --font: "Edgar", Georgia, sans-serif;
  --mono: "Geist Mono", monospace;
  --fw-mono: 500;
  --fs-small: 12px;
  --font-size: 14px;
  --fs-medium: 20px;
  --fs-big: 24px;
  --leading-tight: 1.15;
  --leading-normal: 1.5;
  --leading-loose: 1.75;
  --color-50: #F5F3F0;
  --color-50-alpha: #F5F3F0F2;
  --color-100: #F0E6E1;
  --color-200: #E5CFC5;
  --color-300: #D9A998;
  --color-400: #F26B4F;
  --color-600: #CC3400;
  --color-800: #7A1E21;
  --color-800: #3E0D0F;
  --color-100: #F0E6E1;
  --color-200: #E8D4CB;
  --color-300: #DEB9A8;
  --color-400: #D49F85;
  --color-600: #C86E40;
  --color-700: #B0552D;
  --color-800: #9A3E22;
  --color-900: #7A2A18;
  --color-950: #3E0D0F;
  --accent-soft: #c83200;
  --accent: #ef5515;
  --color-txt: var(--color-950);
  --color-bg: var(--color-50);
  --color-bg-alpha: var(--color-50-alpha);
  --tree-w: 360px;
  --tree-item-h: 24px;
  --tree-indent: 24px;
  --padding-body: 18px;
  --header-h: 120px;
  --header-h-small: 60px;
  --block-graph: 12px;
  --border-light: 1px solid var(--color-100);
  --spacing: 12px;
  --radius-small: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

a {
  color: currentColor;
}

button {
  border: none;
  outline: none;
  color: var(--color-txt);
  background: none;
}

body {
  font-family: var(--font);
  line-height: var(--leading-normal);
  font-size: var(--font-size);
  color: var(--color-txt);
  background-color: var(--color-bg);
}

body {
  --skill-1-dark: #064593;
  --skill-1: #0A6FEA;
  --skill-1-light: #85b9fa;
  --skill-1-xlight: #e7f1fe;
  --skill-2-dark: #11554b;
  --skill-2: #1B8A7A;
  --skill-2-light: #2ad5bb;
  --skill-2-xlight: #eafbf8;
  --skill-3-dark: #5c1485;
  --skill-3: #A030E0;
  --skill-3-light: #cc90ee;
  --skill-3-xlight: #f5e9fc;
  --skill-4-dark: #804f00;
  --skill-4: #D88600;
  --skill-4-light: #ffce80;
  --skill-4-xlight: #ffebcc;
  --skill-5-dark: #7a1f43;
  --skill-5: #B22E63;
  --skill-5-light: #e085a9;
  --skill-5-xlight: #f5d6e2;
}

[data-field=field-1] {
  --color-dark: var(--skill-1-dark);
  --color: var(--skill-1);
  --color-light: var(--skill-1-light);
  --color-xlight: var(--skill-1-xlight);
}

[data-field=field-2] {
  --color-dark: var(--skill-2-dark);
  --color: var(--skill-2);
  --color-light: var(--skill-2-light);
  --color-xlight: var(--skill-2-xlight);
}

[data-field=field-3] {
  --color-dark: var(--skill-3-dark);
  --color: var(--skill-3);
  --color-light: var(--skill-3-light);
  --color-xlight: var(--skill-3-xlight);
}

[data-field=field-4] {
  --color-dark: var(--skill-4-dark);
  --color: var(--skill-4);
  --color-light: var(--skill-4-light);
  --color-xlight: var(--skill-4-xlight);
}

[data-field=field-5] {
  --color-dark: var(--skill-5-dark);
  --color: var(--skill-5);
  --color-light: var(--skill-5-light);
  --color-xlight: var(--skill-5-xlight);
}

[data-field=analyse] {
  --color-dark: var(--skill-1-dark);
  --color: var(--skill-1);
  --color-light: var(--skill-1-light);
  --color-xlight: var(--skill-1-xlight);
}

[data-field=collecte] {
  --color-dark: var(--skill-2-dark);
  --color: var(--skill-2);
  --color-light: var(--skill-2-light);
  --color-xlight: var(--skill-2-xlight);
}

[data-field=curation] {
  --color-dark: var(--skill-3-dark);
  --color: var(--skill-3);
  --color-light: var(--skill-3-light);
  --color-xlight: var(--skill-3-xlight);
}

[data-field=outils] {
  --color-dark: var(--skill-4-dark);
  --color: var(--skill-4);
  --color-light: var(--skill-4-light);
  --color-xlight: var(--skill-4-xlight);
}

[data-field=valorisation] {
  --color-dark: var(--skill-5-dark);
  --color: var(--skill-5);
  --color-light: var(--skill-5-light);
  --color-xlight: var(--skill-5-xlight);
}

#site-header {
  background-color: var(--color-bg);
  height: var(--header-h);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: var(--padding-body);
  padding-right: calc(var(--padding-body) * 3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  border-bottom: var(--border-light);
}
#site-header svg {
  height: calc(var(--header-h) - 30px);
}

#site-nav {
  font-family: var(--mono);
  font-weight: var(--fw-mono);
}
#site-nav ul {
  display: flex;
  gap: 5ch;
  list-style-type: none;
  color: var(--color-900);
}
#site-nav a {
  text-decoration: none;
}
#site-nav a:hover {
  color: var(--accent);
}

#site-header {
  transition: height 0.4s ease-in;
}
#site-header svg {
  transition: height 0.4s ease-in, top 0.2s ease-in;
}
#site-header svg #baseline {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}
#site-header svg #logo-text {
  transform: translate(0, 0);
  transition: transform 0.4s ease-in;
}

#section__search {
  transition: top 0.4s ease-in;
}

#section__skills-tree {
  transition: top 0.4s ease-in, width 0.3s ease-in;
}

body.is-header-shrinked {
  --header-h: var(--header-h-small);
}
body.is-header-shrinked #site-header svg {
  height: calc(var(--header-h) - 15px);
  position: relative;
  top: 3px;
}
body.is-header-shrinked #site-header svg #baseline {
  opacity: 0 !important;
}
body.is-header-shrinked #site-header svg #logo-text {
  transform: translate(5%, 11%) !important;
}

#site-footer {
  display: none;
}
#site-footer svg {
  width: 100px;
}

#skills-tree {
  font-family: var(--mono);
  font-weight: var(--fw-mono);
  padding-right: var(--padding-body);
  padding-top: 0;
}
#skills-tree ul, #skills-tree li {
  list-style: none;
  position: relative;
  width: 100%;
}
#skills-tree ul {
  width: 100%;
}
#skills-tree .item {
  --size-label: 14px;
  width: var(--tree-w);
  height: var(--tree-item-h);
  border-bottom: var(--border-light);
  padding: 2px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 4px;
  position: relative;
  color: var(--color);
}
#skills-tree .item .name {
  flex-grow: 3;
  white-space: nowrap;
  padding-left: 1ch;
  text-overflow: ellipsis;
  max-width: calc(100% - var(--size-label) * 2);
  overflow: hidden;
}
#skills-tree .item .item__checkbox {
  display: none;
}
#skills-tree .item .item__checkbox + label {
  height: var(--size-label);
  width: var(--size-label);
  background-color: var(--color-100);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#skills-tree .item .item__checkbox + label svg {
  fill: transparent;
  width: 9px;
}
#skills-tree .item .item__checkbox + label:hover {
  background-color: var(--color-light);
}
#skills-tree .item .item__checkbox + label:hover svg {
  fill: var(--color-bg);
}
#skills-tree .item .item__checkbox:checked + label {
  background-color: var(--color);
}
#skills-tree .item .item__checkbox:checked + label svg {
  fill: var(--color-bg);
}
#skills-tree .item .count {
  display: none;
}
#skills-tree .item .btn__toggle {
  width: calc(100% - var(--size-label) * 1.5);
  position: absolute;
  left: calc(var(--size-label) * 1.5);
  padding-right: 7px;
  font-size: 1.2em;
  line-height: 1;
  font-family: var(--mono);
  font-weight: var(--fw-mono);
  color: var(--color-600);
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}
#skills-tree .item .btn__toggle svg {
  width: 9px;
  fill: var(--color-800);
}
#skills-tree .item .btn__toggle:hover svg {
  fill: var(--color);
}
#skills-tree .skill__item {
  width: calc(var(--tree-w) - var(--tree-indent));
  margin-left: var(--tree-indent);
}
#skills-tree .detail__item {
  width: calc(var(--tree-w) - var(--tree-indent) * 2);
  margin-left: calc(var(--tree-indent) * 2);
}
#skills-tree .item__graph {
  gap: 3px;
  position: absolute;
  align-items: center;
  left: calc(var(--tree-w) + var(--padding-body) * 2);
  top: calc((var(--tree-item-h) - var(--block-graph)) * 0.5);
  height: calc(var(--block-graph) * 1.5);
}
#skills-tree .item__graph .info {
  font-size: var(--fs-small);
  color: var(--color-400);
  padding-left: 1ch;
  background-color: var(--color-bg);
}
#skills-tree .item__graph .block {
  height: var(--block-graph);
  width: var(--block-graph);
  background-color: var(--color);
  border-radius: var(--radius-small);
}

#skills-tree__nav {
  border-bottom: 1px solid transparent;
  position: sticky !important;
  top: 0;
  background-color: var(--color-bg);
  z-index: 200;
}
#skills-tree__nav .container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 6px;
  width: var(--tree-w);
  height: 60px;
  padding-bottom: calc(var(--tree-item-h) * 0.5);
}
#skills-tree__nav .toggle-all, #skills-tree__nav #toggle-graph {
  color: var(--color-900);
  border: 1px solid var(--color-200);
  font-family: var(--mono);
  font-weight: var(--fw-mono);
  font-size: var(--fs-small);
  height: 20px;
  border-radius: var(--radius-small);
  padding: 0 1ch;
  display: flex;
  align-items: center;
  gap: 1ch;
  cursor: pointer;
}
#skills-tree__nav #toggle-graph svg {
  width: 12px;
  fill: var(--color-900);
  transform: rotate(90deg);
}
#skills-tree__nav .toggle-all svg {
  position: relative;
  top: 3px;
  width: 9px;
  fill: var(--color-800);
}

#skills-tree {
  padding-top: 4px;
}
#skills-tree ul.is-collapsed {
  display: none;
}
#skills-tree ul.is-open {
  display: block;
}
#skills-tree .btn__toggle {
  display: none;
}
#skills-tree .has-child > .item .btn__toggle {
  display: flex;
}
#skills-tree .has-child > .item .btn__toggle .when-expanded {
  display: none;
}
#skills-tree li.is-open > .item .btn__toggle .when-expanded {
  display: inline;
}
#skills-tree li.is-open > .item .btn__toggle .when-collapsed {
  display: none;
}

#skills-tree__nav .toggle-all.is-collapsed .when-expanded {
  display: none;
}
#skills-tree__nav .toggle-all.is-collapsed .when-collapsed {
  display: inline;
}
#skills-tree__nav .toggle-all.is-expanded .when-collapsed {
  display: none;
}
#skills-tree__nav .toggle-all.is-expanded .when-expanded {
  display: inline;
}

body .item__graph {
  display: none;
  opacity: 0;
}

.item__graph {
  transition: opacity 0.3s ease-in 1s;
}

body.graph-view {
  overflow: hidden;
}
body.graph-view #section__skills-tree {
  width: 100vw;
  transition: width 0.3s ease-out;
}
body.graph-view #skills-tree__nav {
  border-bottom: var(--border-light);
}
body.graph-view .item__graph {
  display: flex;
  opacity: 1;
  transition: opacity 0.3s ease-out 1s;
}

.card {
  --size-img: 90px;
}
.card .inner-card {
  display: grid;
  grid-template-columns: 1fr var(--size-img);
  height: 100%;
  outline: var(--border-light);
  border-radius: var(--radius-small);
  padding: var(--spacing);
  box-shadow: 3px 6px 10px -5px var(--color-100);
  position: relative;
  overflow: hidden;
}
.card .skills-container {
  grid-column: 1;
  grid-row: 1;
  align-self: end;
  z-index: 100;
  cursor: pointer;
}
.card .card-image {
  grid-column: 2;
  grid-row: 1;
  justify-self: end;
}
.card .title, .card .p__short-bio, .card .member-skills {
  grid-column: span 2;
}
.card .tooltip {
  display: none;
}
.card .skills-container {
  display: flex;
  flex-wrap: wrap;
  transition: all 0.3s ease-in;
  width: 100%;
}
.card .skills-container .skill-group {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 3px;
}
.card .skills-container .skill-text {
  font-family: var(--mono);
  font-weight: var(--fw-mono);
  font-size: var(--fs-small);
  color: var(--color);
  max-width: 0;
  transition: max-width 0.4s ease-in;
  overflow: hidden;
}
.card .skills-container .skill-text::before {
  content: " ";
}
.card .skills-container .skill-text::after {
  content: "  ";
}
.card .skills-container .skill-color {
  height: var(--block-graph);
  width: var(--block-graph);
  background-color: var(--color);
  border-radius: var(--radius-small);
}
.card .skills-container:hover .skill-text {
  max-width: 15ch;
}
.card .card-image img, .card .card-image svg {
  width: var(--size-img);
}
.card .card-image img {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--radius-small);
  border: var(--border-light);
  filter: contrast(90%);
}
.card .card-image svg path {
  fill: var(--color-300) !important;
}
.card .member-skills {
  margin-top: calc(var(--spacing) * 3);
  z-index: 100;
}
.card .member-skills ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}
.card .member-skills li {
  color: var(--color-900);
  border: 1px solid var(--color-200);
  font-family: var(--mono);
  font-weight: var(--fw-mono);
  font-size: var(--fs-small);
  height: 20px;
  border-radius: var(--radius-small);
  padding: 0 1ch;
  display: flex;
  align-items: center;
  gap: 1ch;
  cursor: pointer;
}
.card .title {
  border-top: var(--border-light);
  margin-top: calc(var(--spacing) * 0.5);
  padding-top: calc(var(--spacing) * 1.5);
  padding-bottom: calc(var(--spacing) * 1.5);
}
.card .title h2 {
  font-weight: 500;
  color: var(--color-900);
  font-size: var(--fs-big);
  line-height: 1.2;
}
.card .title h2 a {
  text-decoration: none;
}
.card .p__short-bio {
  line-height: 1.3;
}
.card .p__institution {
  font-weight: 500;
  color: var(--color-900);
  padding-top: 2px;
  line-height: 1.2;
}
.card .link-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.card:hover .inner-card {
  outline: 1px solid var(--accent-soft);
  background-color: var(--color-100);
}
.card:hover .title {
  border-color: var(--color-200);
}

#section__search svg {
  width: 24px;
  height: 24px;
  fill: var(--accent-soft);
}
#section__search form {
  display: flex;
  align-items: center;
  gap: 2ch;
}
#section__search input {
  height: 60px;
  flex-grow: 3;
  border: none;
  background: none;
  color: var(--accent-soft);
  font-family: var(--mono);
  font-weight: var(--fw-mono);
  font-size: var(--fs-medium);
}
#section__search input::-moz-placeholder {
  color: var(--accent-soft);
  font-family: var(--mono);
  font-weight: var(--fw-mono);
  font-size: var(--fs-medium);
}
#section__search input::placeholder {
  color: var(--accent-soft);
  font-family: var(--mono);
  font-weight: var(--fw-mono);
  font-size: var(--fs-medium);
}
#section__search input:focus {
  outline: none;
}

main {
  position: relative;
  padding-left: calc(var(--padding-body) * 3);
  margin-top: var(--header-h);
}

#section__skills-tree {
  width: calc(var(--tree-w) + var(--padding-body));
  border-right: var(--border-light);
  position: fixed;
  left: var(--padding-body);
  top: var(--header-h);
  height: calc(100vh - var(--header-h));
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  padding-bottom: calc(var(--padding-body) * 2);
  z-index: 1000;
  background-color: var(--color-bg-alpha);
}
#section__skills-tree::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

#section__search {
  margin-left: calc(var(--tree-w) - var(--padding-body));
  padding-left: calc(var(--padding-body) * 2);
  border-bottom: var(--border-light);
  background-color: var(--color-bg);
  height: 60px;
  position: sticky;
  top: var(--header-h);
  z-index: 800;
}

#section__cards {
  margin-left: calc(var(--tree-w) - var(--padding-body));
  padding: calc(var(--padding-body) * 2) calc(var(--padding-body) * 3);
  padding-bottom: 30vh;
  position: relative;
}
#section__cards .cards-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: calc(var(--padding-body) * 1);
       column-gap: calc(var(--padding-body) * 1);
  row-gap: calc(var(--padding-body) * 1);
  position: relative;
}/*# sourceMappingURL=style.css.map */