@import url(normalize.css);

::root {
  font-size: 16px;
}

body {
  --primary-color: #333;
  --border-color: #8f8f9d;
  --sciencespo-color: #e42229;
  --collecte: #51394e;
  --curation: #f6de7d;
  --analyse: #658385;
  --valorisation: #b04838;
  --outils: #c8af8a;

  --body-fontsize: 1rem;
  --medium-header-fontsize: 1.5rem;
  --header-fontsize: 2rem;
  /* --secondary-color: ;
  --headers-fontsize: ;
  --body-fontsize: ; */

  --gutter-basis: 5px; /* base de gouttière pour l'ensemble des marges et des paddings*/

  --card-donut-size: 12px;
  --member-donut-size: 18px;
  --card-image-size: 130px;
  --member-image-size: 200px;
  --main-logo-size: 250px;

  color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
}

a {
  color: var(--primary-color);
}

/* a#home {
  font-size: x-large;
  color: var(--primary-color);
  text-decoration: none;
} */

.main-logo {
  width: var(--main-logo-size);
  height: var(--main-logo-size);
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0 calc(4 * var(--gutter-basis));
}

.navbar {
  padding: 10px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style-type: none;
}

.nav-links a {
  margin: var(--gutter-basis);
  margin: 5px;
  text-decoration: none;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  max-width: 1200px;
  padding-top: calc(4 * var(--gutter-basis));
  min-width: calc(min(100%, 1200px));
}

.search-line {
  min-width: 100%;
}

input {
  height: 40px;
  min-width: calc(100% - 50px);
  box-sizing: border-box;
  padding-left: 10px;
  border: thin solid var(--border-color);
}

input:focus {
  outline: none;
}

button {
  font-size: medium;
  background: none;
  color: var(--primary-color);
  border: thin solid var(--border-color);
  border-radius: 0;
  cursor: pointer;
}

.search-line > button {
  height: 40px;
  width: 45px;
  margin-top: 1px;
}

button:hover {
  background: rgba(0, 0, 0, 0.05);
}

.search-table {
  gap: 1px;
  width: 100%;
  margin: var(--gutter-basis);
  padding-bottom: calc(4 * var(--gutter-basis));
}

.search-table > ul {
  flex: 1;
  padding-left: 0;
  margin: 0px;
  border-bottom: solid thin white;
}

.search-table > ul > li {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: solid thin white;
  color: white;
  white-space: nowrap;
  padding: 0 var(--gutter-basis);
  cursor: pointer;
}

.text-with-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 1px 0px 1px gray;
}

.cards-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  list-style: none;
}

.cards-wrapper a {
  text-decoration: none;
}

.card {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  min-width: 500px;
  min-height: 200px;
  max-width: 500px;
  margin: var(--gutter-basis);
  padding: calc(8 * var(--gutter-basis));
  padding-left: calc(4 * var(--gutter-basis));
  justify-content: center;
  transition: background 0.5s ease;
}
@media only screen and (max-width: 1200px) {
  .card {
    max-width: 100vw;
    min-height: 200px;
    margin-left: 0;
    margin-right: 0;
  }
}

.card:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.inner-card {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  flex: 1;
}

.card-image {
  display: flex;
  height: 100%;
  overflow: visible;
  align-items: flex-start;
  min-width: 30%;
  max-width: 30%;
  position: relative;
}

.card-image img {
  width: var(--card-image-size);
  height: var(--card-image-size);
  object-fit: cover;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.card-image img.card-photo {
  top: var(--card-donut-size);
  left: var(--card-donut-size);
  width: calc(var(--card-image-size) - 2 * var(--card-donut-size));
  height: calc(var(--card-image-size) - 2 * var(--card-donut-size));
}

.tooltip {
  padding: var(--gutter-basis);
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  top: calc(var(--card-image-size) + 10px);
  width: calc(var(--card-image-size) * 2);
  background-color: var(--primary-color);
  color: white;
  z-index: 2;
  transition: all 0.5s ease;
  opacity: 0;
  user-select: none;
}

.tooltip::before {
  content: ".";
  color: black;
  display: inline-block;
  background-color: var(--primary-color);
  width: 10px;
  height: 10px;
  position: absolute;
  top: -5px;
  left: calc(25% - 5px);
  transform: rotate(45deg);
}

.card-image:hover .tooltip {
  opacity: 1;
  user-select: all;
}

.skill-group {
  display: flex;
  flex-flow: row nowrap;
}

.skill-color {
  display: inline-block;
  height: calc(var(--gutter-basis) * 3);
  min-width: calc(var(--gutter-basis) * 3);
  margin-right: var(--gutter-basis);
  position: relative;
  top: 3px;
}

.skill-color.analyse {
  background-color: var(--analyse);
}

.skill-color.curation {
  background-color: var(--curation);
}

.skill-color.collecte {
  background-color: var(--collecte);
}

.skill-color.valorisation {
  background-color: var(--valorisation);
}

.skill-color.outils {
  background-color: var(--outils);
}

.card-text {
  margin-left: calc(2 * var(--gutter-basis));
  text-decoration: none;
  min-width: 70%;
}

.card-text h5,
.card-text h6,
.card-text p {
  margin: 0;
}

.card-text .member-name {
  font-size: var(--medium-header-fontsize);
}

.card-text .institution {
  font-size: calc(0.6 * var(--medium-header-fontsize));
  margin-bottom: var(--gutter-basis);
}

.member-wrapper {
  justify-content: center;
  display: flex;
  height: 100%;
  top: 100px;
  width: calc(100% - 6 * var(--gutter-basis));
}

.member-container {
  position: relative;
  max-width: 1000px;
  padding: 10px;
  padding-top: 0;
}

.member-container a {
  text-decoration-style: dotted;
}

@media only screen and (max-width: 1000px) {
  .member-container {
    max-width: 100%;
    box-sizing: border-box;
  }
}

.member-header {
  display: flex;
  flex-direction: row;
  margin-bottom: calc(2 * var(--gutter-basis));
  min-height: 200px;
  position: relative;
}

@media only screen and (max-width: 1000px) {
  .member-header {
    flex-direction: column;
    padding-top: var(--member-image-size);
  }
}

.member-image {
  min-width: calc(200px + var(--gutter-basis));
}

.member-header img {
  width: var(--member-image-size);
  height: var(--member-image-size);
  object-fit: cover;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 1000px) {
  .member-header img {
    left: calc(50% - var(--member-image-size) / 2);
  }
}

.member-image img.member-photo {
  top: var(--member-donut-size);
  left: var(--member-donut-size);
  width: calc(var(--member-image-size) - 2 * var(--member-donut-size));
  height: calc(var(--member-image-size) - 2 * var(--member-donut-size));
}
@media only screen and (max-width: 1000px) {
  .member-image img.member-photo {
    left: calc(50% - var(--member-image-size) / 2 + var(--member-donut-size));
  }
}

.member-summary {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: calc(3 * var(--gutter-basis));
}

.member-summary .short-bio {
  font-size: 1.3em;
  font-weight: 400;
  margin-bottom: 10px;
}

.member-summary .member-name {
  font-size: var(--header-fontsize);
}
@media only screen and (max-width: 1000px) {
  .member-summary .member-name {
    margin-top: var(--gutter-basis);
  }
}

.member-summary h5 {
  margin: 0;
}

.member-summary p {
  margin: 0;
  margin-block: var(--gutter-basis);
}

.contact-line {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-line > * {
  margin: var(--gutter-basis);
}

.contact-info {
  display: none;
}

.long-bio {
  margin: 60px 0 30px 0;
}

.contact-line #contact-button {
  margin-left: 0;
  padding: var(--gutter-basis);
  background-color: var(--valorisation);
  color: white;
  cursor: pointer;
  border: none;
}

.member-container #edit-button {
  padding: var(--gutter-basis);
  background-color: var(--valorisation);
  color: white;
  cursor: pointer;
  border: none;
  margin: calc(4 * var(--gutter-basis)) 0;
}

.modal-background {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  display: none;
  position: fixed;
  top: 0;
  margin-top: 15%;
  padding: calc(4 * var(--gutter-basis)) calc(4 * var(--gutter-basis));
  max-width: calc(1000px - 8 * var(--gutter-basis));
  width: 100%;
  background-color: white;
}

@media only screen and (max-width: 1040px) {
  .modal-content {
    max-width: 90%;
  }
}

.close {
  color: var(--border-color);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--primary-color);
  text-decoration: none;
  cursor: pointer;
}

resin-formulaire-edit label,
resin-formulaire label {
  display: inline-block;
  background: none;
  color: var(--primary-color);
  font-weight: 600;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: calc(var(--gutter-basis) / 2);
  margin-right: var(--gutter-basis);
}

resin-formulaire label[for="display_email"] {
  display: flex;
  align-items: center;
  white-space: nowrap;
  width: 100px;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 1000px;
  padding-top: calc(4 * var(--gutter-basis));
  min-width: calc(min(100%, 1000px));
}

.page-container a {
  text-decoration-style: dotted;
}

resin-formulaire {
  padding-top: calc(4 * var(--gutter-basis));
}

resin-formulaire .form-text {
  margin-top: var(--gutter-basis);
}

resin-formulaire small {
  font-size: 1rem;
}

resin-formulaire .text-muted {
  width: calc(100% - 50px);
}

resin-formulaire .form-group,
resin-formulaire-edit .form-group {
  margin-bottom: 2rem;
}

resin-formulaire textarea {
  resize: none;
  min-width: calc(100% - 50px);
  min-height: 10rem;
  box-sizing: border-box;
  border-radius: 0;
  border: thin solid var(--border-color);
  outline: none;
}

resin-formulaire button.svelte-jlcweo {
  margin-bottom: 0;
}

resin-formulaire a {
  text-decoration: underline dotted;
}

resin-formulaire a:hover {
  font-weight: 500;
}

resin-formulaire select,
resin-formulaire-edit select {
  background-color: white;
  border-radius: 0;
  padding: calc(1.5 * var(--gutter-basis));
  border: thin solid var(--border-color);
}

resin-formulaire button {
  padding: var(--gutter-basis);
  margin-bottom: calc(2 * var(--gutter-basis));
}

resin-formulaire input::placeholder {
  font-weight: 400;
  color: grey;
  opacity: 1;
}

resin-formulaire input[type="file"] {
  padding-left: 0;
  border: none;
}

resin-formulaire input[type="checkbox"] {
  height: calc(4 * var(--gutter-basis));
}

resin-formulaire input::file-selector-button {
  background-color: white;
  border-radius: 0;
  border: thin solid var(--border-color);
  cursor: pointer;
  padding: var(--gutter-basis);
  font-weight: 400;
  height: 100%;
  padding: 0px calc(2 * var(--gutter-basis));
  color: grey;
  font-family: "Montserrat", sans-serif;
  opacity: 1;
}

resin-formulaire input::file-selector-button:hover {
  background: rgba(0, 0, 0, 0.05);
}

resin-formulaire .selection button {
  font-weight: 800;
}

resin-formulaire button[type="submit"] {
  font-weight: 600;
  padding: calc(2 * var(--gutter-basis)) calc(3 * var(--gutter-basis));
  margin-bottom: 30px;
}

.footer {
  display: flex;
  width: 100%;
  text-align: right;
  padding: 10px 10px;
  align-items: center;
  justify-content: space-evenly;
  margin-top: auto;
}

.footer a {
  text-decoration: none;
}

#logo-medialab {
  width: 100px;
}

#logo-upc {
  width: 120px;
}
