a {
  text-decoration: none;
  color: black;
  margin: 5px;
}

a#home {
  font-size: x-large;
  color: #e42229;
}

.navbar {
  padding: 10px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style-type: none;
}

.nav-links a {
  margin: 5px;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

input {
  margin: 10px;
}

.cardsWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  list-style: none;
}

.card {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  min-width: 200px;
  max-width: 200px;
  min-height: 250px;
  max-height: 260px;
  background-color: lightgrey;
  margin: 10px;
  padding: 10px;
  justify-content: center;
}

.card:hover {
  background-color: darkgrey;
}

.inner-card {
  display: flex;
  flex-direction: column;
}

.card-image {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.card-image img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 100%;
}

.card-text {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
}

.footer {
  display: flex;
  width: 100%;
  text-align: right;
  padding: 10px 10px;
  align-items: end;
  justify-content: space-evenly;
}

#logo-medialab {
  width: 100px;
  padding-bottom: 8px;
}

#logo-upc {
  width: 120px;
}
