

@mixin button-common(){
    font-family: var(--mono);
    font-weight: var(--fw-mono);
    font-size: var(--fs-small);
    height: var(--button-h);
    border-radius: var(--radius-small);
    padding: 0 1ch;
    display: flex;
    align-items: center;


    cursor: pointer;
}

@mixin button-has-link(){
    padding: 0!important;
    a{ 
        padding: 0 1ch;
        text-decoration: none; 
        display: block;
        width: 100%;
        height: 100%;
    
    }
}


@mixin button(){
    @include button-common();
    color: var(--color-txt);
    border: 1px solid var(--color-100);
    background-color: var(--color-bg);
    &:hover{
        background-color: var(--color-050);
        border-color: var(--color-300);
    }
}


@mixin button-color(){
    @include button-common();
    border: 1px solid var(--color-300);
    color: var(--accent-soft);
    background-color: var(--color-bg);
    cursor: pointer;
    &:hover{
        background-color: var(--color-050);
        border-color: var(--accent-soft);
        color: var(--accent-soft);
        a{ color: var(--accent-soft); }
    }
}


@mixin button-bold(){
    @include button-common();
    color: var(--color-050);
    background-color: var(--accent-soft);
    &:hover{
        background-color: var(--accent);
    }
}

