  .modal{
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: #210709d7;
        background-color: rgba(255, 255, 255, 0.917);
        width: 100vw;
        height: 100vh;
        z-index: 10000;
        display: none;
        align-self: center;
        align-items: center;
        justify-items: center;
     

        .modal-content{

            width: calc(100vw - var(--padding-body)*2);
            max-width: 460px;
            height: 300px;
            box-shadow: var(--shadow);

            border: var(--border-light);
            background-color: var(--color-bg);
            margin-bottom: 5vh;
            padding: calc(var(--padding-body)*3) calc(var(--padding-body)*2);
            position: relative;
            border-radius: var(--radius-small);

            display: flex;
            align-items: center;


        }

        .close{
            font-size: var(--fs-xbig);
            position: absolute;
            right: var(--padding-body);
            top: 0px;
            cursor: pointer;
            &:hover{
                color: var(--accent-soft);
            }

    
        }
    }
   

    body.has-modal{
        overflow: hidden;

        .modal{
            display: grid;
        }
    }