* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased
}
a {
    color: currentColor;
}

button{
    border: none;
    outline: none;
    color: var(--color-txt);
    background: none;
}


html { scroll-behavior: smooth; }

body{
    font-family: var(--font);
    line-height: var(--leading-normal);
    font-size: var(--font-size);

    color: var(--color-txt);
    background-color: var(--color-bg);
}



main{
    position: relative;
    // padding-top: calc(var(--padding-body)*2);
    padding: 0 var(--padding-body);
    margin-top: var(--header-h);
    margin-bottom: 70vh;
}


