* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased
}
a {
    color: currentColor;
}

body{
    font-family: var(--font);
    line-height: var(--leading-normal);
    font-size: var(--font-size);

    color: var(--color-txt);
    background-color: var(--color-bg);

    padding: 30px;
}



[data-field="field-1"]{ --color: var(--skill-4); }
[data-field="field-2"]{ --color: var(--skill-2); }
[data-field="field-3"]{ --color: var(--skill-5); }
[data-field="field-4"]{ --color: var(--skill-1); }
[data-field="field-5"]{ --color: var(--skill-3); }