$desktop: "screen and (min-width: 1200px)";
$medium: "screen and (max-width: 1200px)";
$small-up: "screen and (min-width: 720px)";
$small: "screen and (max-width: 720px)";
$phone: "screen and (max-width: 560px)";


@media #{$medium}{
    :root{
  
    }
}
