:root{
    --font: 'Edgar', Arial, sans-serif;
    --mono: 'Geist Mono', monospace;
    --fw-mono: 500;

    --fs-small: 9px;
    --font-size: 12px;
    --fs-medium: 18px;
    --fs-big: 24px;

    --leading-tight: 1.15;
    --leading-normal: 1.5;
    --leading-loose: 1.75;

    --color-50: #F5F3F0;
    --color-600: #CC3400;
    --color-400: #F26B4F;
    --color-800: #7A1E21;

    --color-txt: var(--color-800);
    --color-bg: var(--color-50);

    
}
