:root{
    --font: 'Edgar', Arial, sans-serif;

    --fs-small: 9px;
    --font-size: 12px;
    --fs-medium: 18px;
    --fs-big: 24px;

    --leading-tight: 1.15;
    --leading-normal: 1.5;
    --leading-loose: 1.75;

    --color-bg: #ffffff;
    --color-text: #111827;

    --color-50: #f4f3ff;
    --color-300: #bbb5ff;
    --color-400: #9687ff;
    --color-500: #7458ff;
    --color-600: #6132fd;
    --color-700: #5221e6;
    --color-800: #451ebf;
    --color-900: #3b1f99;

    --color-secondary-50: #fff7ed;
    --color-secondary-100: #ffedd4;
    --color-secondary-300: #ffb76a;
    --color-secondary-400: #ff8805;
    --color-secondary-500: #ff6800;
    --color-secondary-600: #fa4900;
    --color-secondary-700: #ce3500;
    --color-secondary-800: #a32d00;
    --color-secondary-900: #812a0b;


    --color-accent: #f59e0b;    /* orange */


    
}