:root{
    --font: 'Edgar', Georgia, sans-serif;
    --mono: 'Geist Mono', monospace;
    --fw-mono: 500;

    --fs-small: 12px;
    --font-size: 14px;
    --fs-medium: 18px;
    --fs-big: 24px;
    --fs-xbig: 34px;

    --leading-tight: 1.15;
    --leading-normal: 1.5;
    --leading-loose: 1.75;


    --color-050: #F5F3F0;
    --color-100: #F0E6E1;
    --color-300: #DEB9A8;
    --color-avatar: #DEB9A8;

    --accent-soft: #c83200;
    --accent: #ef5515;


    --color-txt: #3E0D0F;
    --color-txt-light: #B49B9D;
    --color-txt-light: #D1B1B3;
    --color-bg: white;
    --color-bg-alpha: #fffffff2;

    --tree-w: 360px;
    --tree-item-h: 24px;
    --tree-indent: 24px;
    --padding-body: 18px;

    --header-h: 120px;
    --header-h-small: 60px;
    --block-graph: 12px;

    --border-light: 1px solid var(--color-100);

    --spacing: 12px;

    
    --radius-small: 4px;
    --max-width: 900px;
}
