:root{
    --font: 'Edgar', Arial, sans-serif;
    --mono: 'Geist Mono', monospace;
    --fw-mono: 500;

    --fs-small: 9px;
    --font-size: 12px;
    --fs-medium: 18px;
    --fs-big: 24px;

    --leading-tight: 1.15;
    --leading-normal: 1.5;
    --leading-loose: 1.75;

    --color-bg: #ffffff;
    --color-text: #111827;

  
    --color-secondary-50: #fff7ed;
    --color-secondary-100: #ffedd4;
    --color-secondary-300: #ffb76a;
    --color-secondary-400: #ff8805;
    --color-secondary-500: #ff6800;
    --color-secondary-600: #fa4900;
    --color-secondary-700: #ce3500;
    --color-secondary-800: #a32d00;
    --color-secondary-900: #812a0b;


    --color-50: #F5F3F0;
    --color-600: #CC3400;
    --color-400: #F26B4F;
    --color-800: #7A1E21;


    --skill-1: #ffd85c;
    --skill-2: #78ab48;
    --skill-3: #00788a;
    --skill-4: #a06f90;
    --skill-5: #f39aa8; 


    --color-txt: var(--color-800);
    --color-bg: var(--color-50);

    
}