{% extends "main.html" %}
{% block main_attributes %} class="page-static"{% endblock %}
{% block body %}

<div id="sub-header" aria-hidden="true">
  <div class="container">
    <p><a href="/" aria-label="Retour à l’accueil">Annuaire RésIn</a></p>
    <p>&gt;</p>
    <p><a href="#" aria-label="Retour en haut de la page">À propos</a></p>
  </div>
</div>


    <h2> Le projet RésIn</h2>

    <nav class="page-toc">
      <ul>
        <li><a href="#annuaire">L’annuaire RésIn</a></li>
        <li><a href="#hierarchie-competences">La hiérarchie de compétences</a></li>
        <li><a href="#credits">Crédits</a></li>

      </ul>

      <button class="back-to-top"><a href="#">↑ Revenir en haut</a></button>
    </nav>

      <h3 id="annuaire">L’annuaire RésIn</h3>

      <p>L’annuaire RésIn rassemble des profils d’ingénieur·es et de technicien·nes travaillant dans la recherche scientifique, et plus largement, de professionnel·les du soutien à la recherche. Il vise à valoriser et faire connaître les diverses compétences des professionnel·les des méthodes au-delà de leurs institutions respectives.</p>

  <p>Cet annuaire est l’un des résultats du <a href="https://medialab.sciencespo.fr/activites/resin/">projet de mise en réseau — RésIn</a>. L’idée est née du constat de l’isolement des ingénieur·es de recherche dans leurs unités de recherche respectives. Or, les métiers du soutien à la recherche occupent un rôle central dans la production de connaissances, tout particulièrement dans le contexte du déploiement du numérique, qui transforme nos sociétés, nos métiers et nos objets de recherche.</p>
      <p>C’est dans ce contexte que le projet RésIn (pour <strong>Rés</strong>eau d’<strong>In</strong>génieur·es dans la recherche), lancé en 2023, vise à rassembler des professionnel·les des méthodes de recherche, notamment au sein du collectif des institutions composant Sciences Po et l’Université Paris Cité.</p>


      <p>C’est dans ce cadre que l’annuaire a vu le jour, grâce au travail de l’équipe du médialab
        (<a href="https://bmaz.github.io/" target="_blank">Béatrice Mazoyer</a>,
        <a href="https://medialab.sciencespo.fr/equipe/marion-frelat/" target="_blank">Marion Frelat</a>,
        <a href="https://medialab.sciencespo.fr/equipe/audrey-baneyx/" target="_blank">Audrey Baneyx</a>,
        <a href="https://medialab.sciencespo.fr/equipe/sandra-hamiche/" target="_blank">Sandra Hamiche</a>,
        <a href="https://medialab.sciencespo.fr/equipe/robin-de-mourat/" target="_blank">Robin de Mourat</a>,
        <a href="https://medialab.sciencespo.fr/equipe/diego-antolinos-basso/" target="_blank">Diégo Antolinos Basso</a>,
        <a href="https://medialab.sciencespo.fr/equipe/marine-chuberre/" target="_blank">Marine Chuberre</a>),
        au travail de l'équipe Ingénierie des Projets Structurants de l'Université Paris Cité
        (<a href="https://resin.medialab.sciences-po.fr/celine-jegat">Céline Jégat</a>,
        <a href="https://resin.medialab.sciences-po.fr/maud-marucheau-de-chanaud"> Maud Marucheau de Chanaud</a>,
        Marko Tocilovac),
        et avec l’appui de prestataires externes
        (<a href="https://maudroyer.fr/conseil-developpement-projets-web/" target="_blank">Maud Royer</a> et
        <a href="https://julie-blanc.fr/" target="_blank">Julie Blanc</a>).
      </p>

      <p>Ainsi, lorsque vous vous inscrivez, c’est l’équipe du projet qui valide votre profil avant qu’il ne soit publié sur l’annuaire.</p>
      <p>
        L’inscription sur cet annuaire est gratuite, il est possible de modifier les informations renseignées et/ou de supprimer facilement son profil à tout instant, dans le respect du RGPD.</p>



      <h3 id="hierarchie-competences">La hiérarchie de compétences RésIn</h3>

      <p>L’annuaire permet de s’inscrire en tant que spécialiste de certaines méthodes et/ou outils. Au moment de l’inscription, il est possible de choisir six spécialités parmi un thésaurus de compétences évolutives, consultable <a href="https://github.com/medialab/resin-annuaire/blob/main/site/data/tree.yaml">sur le dépôt github du projet</a>.</p>
      <p>Les expertises des professionnel·les de la recherche s’étendent à tous les domaines de recherche et à toutes les disciplines. Ainsi, la hiérarchie de compétences RésIn est ouverte à vos suggestions afin d’y inclure vos spécialités.</p>
      <p>Elle se déploie sur 3 niveaux hiérarchiques, dont voici le premier &#8239;</p>

      <ul>
        <li><strong>La collecte de données&#8239;</strong>: APIs, entretiens, entrepôts de données, scraping, sondages, etc.</li>
        <li><strong>La curation de contenus&#8239;</strong>: aspects légaux, chiffrement, enrichissement, documentation, nettoyage, sauvegarde des données, etc.</li>
        <li><strong>L’analyse de données&#8239;</strong>: méthodes qualitative ou quantitative, spatiale, visuelle, statistique, traitement automatique du langage, etc.</li>
        <li><strong>Les outilss&#8239;</strong>: administration de systèmes d’information, bases de données, CAQDAS, Git, etc.</li>
        <li><strong>La valorisations&#8239;</strong>: archivage, communication, gestion de projet, publication, écologie du numérique, etc.</li>
      </ul>
      <p>Lors de l’inscription, renseignez le champ «&#8239;compétence supplémentaire&#8239;» afin de nous informer d’un manque. Nous en prendrons connaissance et ferons de notre mieux pour l’inclure afin de représenter la diversité des compétences de la communauté de recherche.</p>

      <h3 id="credits">Crédits</h3>

      <ul>
        <li>Logo par <a href="https://tainome.com/" target="_blank">Ariel Martín Pérez</a></li>
        <li>Design et front-end par <a href="" target="_blank">Studio Variable</a> (Julie&nbsp;Blanc)</li>
        <li>Typographies: Edgar (Tobias Frere-Jones) et Geist Mono (Andrés&nbsp;Briganti, Mateo&nbsp;Zaragoza, Guillermo&nbsp;Rauch, Evil&nbsp;Rabbit, José&nbsp;Rago, Facundo&nbsp;Santana )</li>
      </ul>


      <hr>
      <div id="anr">
          <img src="/data/images/logo_investir_lavenir.png" width="100" height="100"/>
          <img src="/data/images/logo_idex_upc.jpg" width="100" height="100"/>
        <p>Le projet RésIn a bénéficié du soutien apporté par l’ANR et l’État au titre du programme d’Investissements d’avenir dans le cadre de l’IdEx Université Paris Cité (ANR-18-IDEX-0001).</p>

    </div>
{% endblock %}


{% block scripts %}
{{ super() }}
<script type="text/javascript" src="js/toc.js"></script>
{% endblock %}
