<div class="cards-wrapper">
  {% for item in items %}

  
  <div class="card">
    <div class="inner-card">
      
      <div class="card-image">
        {% if item.avatar %}
        <img class="card-photo" src="{{ item.avatar | replace('http://', 'https://') }}" />
        {% else %}
        <div class="avatar-default">
          {% include "resin-logo-icon.svg" %}
        </div>
        {% endif %}
        <!-- <img
          src="{{ item.donutFilePath }}"
          alt="Avatar de {{ item.firstName }} {{ item.lastName }}"
        />-->
        <!-- <div class="tooltips">
          {% for skill in item.firstSkills %}
          <div class="skill-group">
            <div class="skill-color {{ skill | replace(' ', '-') | lower }}" data-field="{{ skill | replace(' ', '-') | lower }}"></div>
            <div class="skill-text">{{skill}}</div>
          </div>
          {% endfor %}
        </div>  -->

      </div>


      <div class="skills-container">
        {% for skill in item.firstSkills %}
        <div class="skill-group" data-field="{{ skill | replace(' ', '-') | lower }}">
          <div class="skill-color"></div>
          <div class="skill-text">{{skill}}</div>
        </div>
        {% endfor %}
      </div> 

      
      <div class="title">

        <h2 class="member-name"><a href="{{ item.slug }}">{{ item.firstName }} {{ item.lastName }}</a></h2>
        <p class="p__institution">{{ item.organization }}</p>

      </div>
      
      {% if item.shortBio %}
        <p class="p__short-bio">
          {{ item.shortBio }} 
        </p>
        {% endif %}

        <div class="member-skills">
          <ul>
            {% for skill in item.lastSkills.split(', ') %}
            <li>{{ skill }}</li>
            {% endfor %}
          </ul>
        </div>

     

      <a class="link-block" href="{{ item.slug }}"></a>
    </div>
  </div>

  {% else %}
  <div>Pas de résultat</div>
  {% endfor %}
</div>
