<div class="cardsWrapper">
  <input type="text" id="searchBar" class="input" placeholder="Search.." />
  {% for item in items %}
  <a href="{{ item.slug }}" class="card">
    <div class="inner-card">
      <div class="card-image">
        {% if item.imageFile %}
        <img
          src="{{ item.imageFile }}"
          alt="Photo de profil de {{ item.firstName }} {{ item.lastName }}"
        />
        {% endif %}
      </div>
      <div class="card-text">
        <h5 class="firstName">{{ item.firstName }} {{ item.lastName }}</h5>
        <h6 class="institution">
          Sciences Po
        </h6>
        <p>
          {% if item.shortBio %}
          {{ item.shortBio }}
          {% else %}
          {{ item.skills }}
          {% endif %}
        </p>
      </div>
    </div>
  </a>
  {% else %}
  <div>Pas de résultat</div>
  {% endfor %}
</div>
