<div class="cardsWrapper">
  {% for item in items %}
  <a href="{{ item.slug }}" class="card"
    ><div class="imageContainer">
      {% if item.imageFile %}
      <img
        src="{{imageFolder}}/{{ item.imageFile }}"
        alt="Photo de profil de {{ item.firstName }} {{ item.lastName }}"
      />
      {% endif %}
    </div>
    <div class="memberText">
      <hgroup>
        <h1 data-level-1="name">
          <span class="firstName">{{ item.firstName }}</span>
          <span class="lastName">{{ item.lastName }}</span>
        </h1>
        <p class="description">
          <span>{{ item.shortBio }}</span>
        </p>
      </hgroup>
      <div class="details">
        <p class="title">{{ item.title }}</p>
        <p class="organization">{{ item.organization }}</p>
      </div>
    </div></a
  >
  {% else %}
  <div>Pas de résultat</div>
  {% endfor %}
</div>
