<div id="site-footer">
  <div class="container">
  
    <div class="container-logos">
      <div class="logo" id="logo-upc">{% include "logos/logo-upc.svg" %}</div>
      <div class="logo" id="logo-medialab">{% include "logos/logo-medialab.svg" %}</div>
    </div>

    <div class="credits">
      <p class="baseline">RésIn, Réseau d’Ingénieur·es</p>
      <p>Design et front-end par <a href="https://studio-variable.com/" target="_blank">Studio Variable</a></p>
      <p><a href="mentions-legales"> Mentions légales </a></p>
    </div>
  </div>
</div>
