<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>{% block title %} Annuaire RésIn {% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <nav class="navbar">
        <a href="/" id="home">
          <img
            class="main-logo"
            src="/assets/images/logo-resin.png"
            alt="Logo du projet ResIn"
          />
        </a>
        <ul class="nav-links">
          <li><a href="projet">À propos</a></li>
          <li><a href="s-inscrire">Créer son profil</a></li>
        </ul>
      </nav>
      {% block body %}{% endblock %} {% include "footer.html" %}
    </div>
    {% block scripts %}{% endblock %}
  </body>
</html>
