<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>{% block title %} Annuaire RésIn {% endblock %}</title>

    <link rel="stylesheet" href="/fonts/Edgar/stylesheet.css">
    <link rel="stylesheet" href="/fonts/GeistMono/stylesheet.css">
  </head>
  <body>

    <input type="checkbox" id="input-toggle-menu">

    <header id="site-header">
      <h1 id="site-title">
        <a href="/" aria-label="Retour à l’accueil">
          {% include "resin-logo.svg" %}
          <span style="display: none;">RésIn, Réseau d’ingénieur·es</span>
        </a>
      </h1>

      <label id="toggle-menu" for="input-toggle-menu">
        {% include "icons/menu.svg" %}
      </label>
      <nav id="site-nav">
        <ul class="main">
          <li><a href="a-propos">À propos</a></li>
          <li><a href="projet">Liste de diffusion</a></li>
          <li><a href="projet">Ressources</a></li>
          <li class="btn"><a href="s-inscrire">Créer son profil</a></li>
        </ul>
      </nav>
    </header>

    
    <main{% block main_attributes %}{% endblock %}>
      {% block body %}{% endblock %} {% include "footer.html" %}

      <button id="back-to-top"><a href="#">↑ Revenir en haut</a></button>

    </main>
    {% block scripts %}
    <script type="text/javascript" src="js/search.js"></script>
    <script type="text/javascript" src="js/header.js"></script>
    {% endblock %}
  </body>
</html>
