<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>{% block title %} Annuaire RésIn {% endblock %}</title>
  </head>
  <body>
    {% block body %}
    <h1>Annuaire</h1>
    <div class="container">
      <input type="text" id="searchBar" class="input" placeholder="Search.." />
      {% include "cards.html" %}
    </div>
    <script type="text/javascript" src="js/bundle.js"></script>
    {% endblock %} {% include "footer.html" %}
  </body>
</html>
