<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>{% block title %} Annuaire RésIn {% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <nav class="navbar">
        <a href="/" id="home">RéSin</a>
        <ul class="nav-links">
          <li><a href="#">Projet</a></li>
          <li><a href="s-inscrire">S'inscrire</a></li>
        </ul>
      </nav>
      {% block body %}
      <div class="search-line">
        <input
          type="text"
          id="searchBar"
          class="input"
          placeholder="Rechercher"
        />
        <button id="skills-toggle" type="button">+</button>
      </div>
      <ul id="selected-skills"></ul>
      <div class="search-table" style="display: none">
        <div class="categories">
          <ul>
            {% for category in categories %}
            <li
              style="height:{{ category.height }}px ; color:{{category.color}}"
            >
              {{ category.label }}
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="sub-categories"></div>
        <ul>
          {% for category in subcategories %}
          <li style="height:{{ category.height }}px ; color:{{category.color}}">
            {{ category.label }}
          </li>
          {% endfor %}
        </ul>
        <div class="sub-sub-categories"></div>
        <ul>
          {% for category in subsubcategories %}
          <li style="height:{{ category.height }}px ; color:{{category.color}}">
            {{ category.label }}
          </li>
          {% endfor %}
        </ul>
      </div>

      {% include "cards.html" %} {% include "footer.html" %} {% endblock %}
    </div>
    <script type="text/javascript" src="js/bundle.js"></script>
  </body>
</html>
