{% extends "main.html" %} {% block body %}
<div class="member-wrapper">
  <div class="member-container">
    <div class="member-header">
      <div class="member-image">
        {% if member.imageFilePath %}
        <img class="member-photo" src="{{ member.imageFilePath }}" />
        {% endif %}
        <img
          src="{{ member.donutFilePath }}"
          alt="Avatar de {{ member.firstName }} {{ member.lastName }}"
        />
      </div>

      <div class="member-summary">
        <h5 class="member-name">
          {{ member.firstName }} {{ member.lastName }}
        </h5>
        {% if member.shortBio %}
        <p class="short-bio">&laquo; {{ member.shortBio }} &raquo;</p>
        {% endif %} {% if member.gender %}
        <p>
          <span class="metadata-title">Genre</span>&nbsp;: {{ member.gender }}
        </p>
        {% endif %} {% if member.languages|length %}
        <p>
          <span class="metadata-title">Langues</span>&nbsp;: {{ member.languages
          | join(", ") }}
        </p>
        {% endif %} {% if member.organization %}
        <p>
          <span class="metadata-title">Institution</span>&nbsp;: {{
          member.organization }}{% if member.city %}, {{ member.city }}{% endif
          %}
        </p>
        {% endif %} {% if member.email %}
        <div class="contact-line">
          <button id="contact-button">Contacter</button>
          <div class="contact-info">{{ member.email | replace("@", "¤")}}</div>
        </div>
        {% endif %}
      </div>
    </div>
    {% if member.longBio %}
    <p class="long-bio">
      {% markdown %} {{ member.longBio }} {% endmarkdown %}
    </p>
    {% endif %}

    <p>Compétences&nbsp;: {{ member.lastSkills}}</p>

    {% if member.title %}
    <p>Fonction / Titre&nbsp;: {{ member.title }}</p>
    {% endif %} {% if member.education %}
    <p>
      Formation&nbsp;: {% markdown %} {{ member.education }} {% endmarkdown %}
    </p>
    {% endif %} {% if member.publications %}
    <p>
      Publications&nbsp;: {% markdown %} {{ member.publications }} {%endmarkdown
      %}
    </p>
    {% endif %} {% if member.activities %}
    <p>Autres activités&nbsp;: {{ member.activities }}</p>
    {% endif %} {% if member.responsabilities %}
    <p>Responsabilités&nbsp;: {{ member.responsabilities }}</p>
    {% endif %} {% if member.distinctions %}
    <p>Distinctions&nbsp;: {{ member.distinctions }}</p>
    {% endif %}

    <button id="edit-button">
      Je suis cette personne, je souhaite modifier mon profil
    </button>

    <div class="modal-background"></div>
    <div class="modal-content">
      <span class="close">&times;</span>
      <resin-formulaire-edit apiServer="{{ apiUrl }}" />
    </div>
  </div>
</div>

{% endblock %} {% block scripts %}
<script type="text/javascript" src="js/edit.js"></script>
{% endblock %}
