{% extends "main.html" %} 
{% block main_attributes %} class="page-static"{% endblock %}
{% block body %}

  <h2>Liste de diffusion</h2>

  <p>
    La <a href="https://groupes.renater.fr/sympa/info/projet-resin" target="_blank">liste de diffusion</a> du projet RésIn permet de communiquer sur les actualités du projet et les réflexions sur le quotidien des ingénieur·es dans la recherche. Elle est hébergée par la plateforme Renater. 
    </p>
    <p>
    Pour s’y inscrire, il suffit de renseigner son nom, prénom, son institution de rattachement et son adresse mail : <a href="https://groupes.renater.fr/sympa/subscribe/projet-resin
    " target="_blank">https://groupes.renater.fr/sympa/subscribe/projet-resin</a> (pas besoin de créer un compte Renater).
  </p>

  <button id="btn--newsletter"><a href="https://groupes.renater.fr/sympa/subscribe/projet-resin
    " target="_blank">groupes.renater.fr</a></button>



 
{% endblock %} 

