{% extends "main.html" %} {% block main_attributes %} class="page-newsletter"{%
endblock %} {% block body %}

<h2>Liste de diffusion</h2>

<p>
  La
  <a href="https://groupes.renater.fr/sympa/info/projet-resin" target="_blank"
    >liste de diffusion</a
  >
  du projet RésIn permet de communiquer sur les actualités du projet et les
  réflexions sur le quotidien des ingénieur·es dans la recherche. Elle est
  hébergée par la plateforme Renater.
</p>
<p>
  Pour s’y inscrire, pas besoin de créer un compte Renater, il suffit de
  renseigner son adresse mail et son nom.
</p>

<button id="btn--newsletter">
  <a
    href="https://groupes.renater.fr/sympa/subscribe/projet-resin
    "
    target="_blank"
    >S'inscrire sur Renater</a
  >
</button>

{% endblock %}
