{% extends "main.html" %}
{% block main_attributes %} class="page-static"{% endblock %}
{% block body %}

<div id="sub-header" aria-hidden="true">
  <div class="container">
    <p><a href="/" aria-label="Retour à l’accueil">Annuaire RésIn</a></p>
    <p>&gt;</p>
    <p><a href="#" aria-label="Retour en haut de la page">À propos</a></p>
  </div>
</div>


    <h2>RésIn</h2>

    <nav class="page-toc">
      <ul>
        <li><a href="#projet">Le réseau et l’équipe</a></li>
        <li><a href="#en-savoir-plus">Pour en savoir plus sur RésIn</a></li>
        <li><a href="#comite-pilotage">Comité de pilotage RésIn</a></li>
        <li><a href="#financeur">Financement et partenariat</a></li>
        <li><a href="#credits">Crédits</a></li>

      </ul>

      <button class="back-to-top"><a href="#">↑ Revenir en haut</a></button>
    </nav>

 <h3 id="projet">Le réseau et l’équipe RésIn</h3>

      <p>Le <strong>rés</strong>eau d'<strong>in</strong>génieur·es dans la recherche (RésIn) vise à fédérer un réseau pluridisciplinaire d’ingénieur·es et professionnel·les des méthodes qui participent activement à la recherche, quelles que soient leurs institutions de rattachement en France ou leur discipline. Ce réseau est un projet porté par Sciences Po en partenariat avec l'Université Paris Cité et se déploie au travers d'actions de valorisation des compétences de chacun·e et de formation collective à des outils et méthodes.</p>

        <h4>Pourquoi rejoindre le réseau des ingénieur·es et professionnel·les des méthodes de recherche du projet RésIn&#8239;?</h4>

        <ul>
          <li>Valoriser et visibiliser ses compétences et contributions à la recherche (collecte de données, curation de contenus, analyse de données, outils, valorisation)&#8239;;</li>
          <li>Se former collectivement et de manière transdisciplinaire&#8239;;</li>
          <li>Partager des ressources et réflexions méthodologiques sur ses activités respectives et tendre vers une approche réflexive du métier d’ingénieur·e dans la recherche.</li>
        </ul>

    <hr>
      <p>Au-delà de l’annuaire, RésIn se décline en différentes initiatives destinées à animer cette communauté pluridisciplinaire&#8239;:</p>

    <ul>
      <li>
        Le <a href="https://metsem.hypotheses.org/" target="_blank">séminaire de méthodologie (MetSem)</a> est un lieu d’échanges et de partages autour de la pluralité des outils et des méthodes des sciences humaines et sociales.
      </li>
      <li>L’<a href="https://medialab.sciencespo.fr/activites/metat-atelier-de-methodes/" target="_blank">atelier de méthodes (MetAt)</a> est un atelier d’accompagnement aux méthodes de recherche : chaque mois, un créneau de trois heures pour vous aider à résoudre les difficultés d’ordre méthodologique que vous rencontrez dans le cadre d’un projet scientifique. Cet atelier est réplicable dans vos unités de recherche à l’aide d’un <a href="/documents/ResIn_Toolkit_MetAt.pdf">toolkit</a>.</li>
      <li>La <a href="https://groupes.renater.fr/sympa/info/projet-resin" target="_blank">liste de diffusion</a> du projet permet de diffuser les actualités du projet et des réflexions sur le quotidien des ingénieur·es dans la recherche. Chacun·e est invité·e à partager sur cette liste les initiatives qui s’inscrivent dans la construction de cette communauté d’ingénieur·es : appel à communications, journées d’études, universités d’automne, formations, mais aussi des appel à projets et offres d’emploi à destination des ingénieur·es et professionnel·les des méthodes de recherche.
</li>
      <li>Des journées d’échange ont contribué à structurer le réseau, comme le 5 juin 2024 <a href="https://medialab.sciencespo.fr/actu/evenement-resin/" target="_blank">"&#8239;Vers un réseau de professionnels des méthodes&#8239;: discutons du rôle de l'ingénieur de recherche&#8239;"</a> à Sciences Po et le 6 février 2025, <a href="https://medialab.sciencespo.fr/actu/retour-en-images-sur-levenement-du-6-fevrier-2025-faire-communaute-dans-lingenierie-de-recherche/" target="_blank">"&#8239;Faire communauté dans l'ingénierie de recherche&#8239;"</a> à l’Université Paris Cité.</li> 
      <li>Une université d’automne de rencontre et de co-formation s'est tenue les 16, 17 et 18 décembre 2025 : <a href="https://medialab.sciencespo.fr/actu/retour-sur-la-premiere-universite-dhiver-du-projet-resin-lintelligence-artificielle-et-les-sciences-sociales/" target="_blank">"Intelligence artificielle et sciences sociales : questions, méthodes et pratiques"</a>. Une seconde édition sera organisée les 27, 28 et 29 octobre 2026, <a href="https://ua2026-resin.sciencesconf.org/?lang=fr"  target = "_blank">“&#8239;Faire de la recherche autrement : exister, résister, coopérer”&#8239;</a>.</li>
      <li>Une <a href="https://journee-resin.sciencesconf.org" target="_blank">journée d'étude “Recherches et démarches participatives : quels apports des ingénieur·es et professionnel·les d’appui à la recherche ?”</a> a été organisée les 1er et 2 avril 2026 à Sciences Po.</li>
       <li>Deux journées d’études se tiendront les 17 et 18 novembre 2026 à Sciences Po, <a href="https://je-112026.sciencesconf.org/?lang=fr"  target = “_blank">“&#8239;Comment enquêter en sciences sociales : terrains, méthodes, données”&#8239;</a>. </li>

<h3 id="en-savoir-plus">Pour en savoir plus sur RésIn</h3>

      <ul>
        <li><a href="https://linktr.ee/Resin_2025" target="_blank">Une page Linktree qui rassemble des ressources liées à RésIn</a></li>
        <li><a href="https://medialab.sciencespo.fr/actu/portraits-dencadrantes-2-metat/" target="_blank">Des portraits d’encadrant·es de l’atelier de méthodes</a></li>
        <li><a href="https://vimeo.com/showcase/11568714" target="_blank">Les enregistrements des précédentes séances des séminaires de méthodes</a></li>
        <li><a href="https://vimeo.com/showcase/11270732" target="_blank">La page viméo de RésIn</a></li>
        <li><a href="https://medialab.sciencespo.fr/actu/un-episode-du-podcast-code4thought-consacre-au-metier-dingenieur-dans-la-recherche/" target="_blank">Une discussion autour des activités de RésIn dans le podcast Code4Thought</a></li>
        <li><a href="https://medialab.sciencespo.fr/activites/resin/" target="_blank">Une présentation du réseau d'ingénieur·es (RésIn)</a></li>

<p><div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/981978247?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share" referrerpolicy="strict-origin-when-cross-origin" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Projet RésIn : pour vous, c&#039;est quoi le métier d&#039;ingénieur ?"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script></p> 
        
    </ul>
      <p>Pour toute question concernant le projet ou le fonctionnement de l’annuaire, ou pour participer à nos activités, écrivez à <strong>audrey.baneyx@sciencespo.fr</strong>, <strong>celine.jegat@u-paris.fr</strong> ou <strong>marine.chuberre@sciencespo.fr</strong>.</p>

    <h3 id="comite-pilotage">Comité de pilotage RésIn 2026</h3>

    <ul>
      <li><a href="flora-chanvril" target="_blank">Flora Chanvril</a>, chargée d’études statistiques au Cevipof, Sciences Po </li>
      <li><a href="https://u-paris.fr/science-ouverte/contact/" target="_blank">Fanny Casse</a>,ingénieure d’études, data librarian et responsable guichet FAIRDATACité, pôle science ouverte et données de la recherche (Université Paris Cité)</li>
      <li><a href="hugues-pecout" target="_blank">Hugues Pecout</a>, ingénieur d’études en sciences de l’information géographique à Géographie-Cités, CNRS</li>
      <li><a href="http://damiencartron.free.fr" target="_blank">Damien Cartron</a>, ingénieur de recherche en sociologie, CNRS, Centre Maurice Halbwachs </li>
      <li><a href="anna-egea" target="_blank">Anna Egea</a>, ingénieure responsable des ressources et de l'ingénierie documentaire, CSO, Sciences Po</li>
    </ul>

      <h3 id="financeur">Financement et partenariat</h3>
      <p>RésIn bénéficie du soutien apporté par l’ANR et l’État au titre du programme d’Investissements d’avenir dans le cadre de l’IdEx Université Paris Cité (ANR-18-IDEX-0001). Il s'agit d'un projet conjoint entre Sciences Po et l'Université Paris Cité.</p>

      <h3 id="credits">Crédits</h3>

      <ul>
        <li>Logo par <a href="https://tainome.com/" target="_blank">Ariel Martín Pérez</a></li>
        <li>Design et front-end par <a href="https://studio-variable.com/" target="_blank">Studio Variable</a> (Julie&nbsp;Blanc)</li>
        <li>Typographies : Edgar (Tobias Frere-Jones) et Geist Mono (Andrés&nbsp;Briganti, Mateo&nbsp;Zaragoza, Guillermo&nbsp;Rauch, Evil&nbsp;Rabbit, José&nbsp;Rago, Facundo&nbsp;Santana )</li>
      </ul>


      <hr>
      <div id="anr">
          <img src="/data/images/logo_investir_lavenir.png" width="100" height="100"/>
          <img src="/data/images/logo_idex_upc.jpg" width="100" height="100"/>
        <p>RésIn a bénéficié du soutien apporté par l’ANR et l’État au titre du programme d’Investissements d’avenir dans le cadre de l’IdEx Université Paris Cité (ANR-18-IDEX-0001).</p>

    </div>
{% endblock %}


{% block scripts %}
{{ super() }}
<script type="text/javascript" src="js/toc.js"></script>
{% endblock %}
