{% extends "main.html" %} {% block body %}
<div class="page-container">
  <h1>Le projet RésIn</h1>
    <h2>L’annuaire RésIn</h2>
      <p>L’annuaire RésIn rassemble des profils d’ingénieur·es et de technicien·nes travaillant dans la recherche scientifique, et plus largement, de professionnel·les du soutien à la recherche. Il vise à valoriser et faire connaître les diverses compétences des professionnel·les des méthodes au-delà de leurs institutions respectives.</p>
    <h2>La hiérarchie de compétences RésIn</h2>
      <p>L’annuaire permet de s’inscrire en tant que spécialiste de certaines méthodes et/ou outils. Au moment de l’inscription, il est possible de choisir six spécialités parmi un thésaurus de compétences évolutives, consultable <a href="https://github.com/medialab/resin-annuaire/blob/main/site/data/tree.yaml">sur le dépôt github du projet</a>.</p>
      <p>Les expertises des professionnel·les de la recherche s’étendent à tous les domaines de recherche et à toutes les disciplines. Ainsi, la hiérarchie de compétences RésIn est ouverte à vos suggestions afin d’y inclure vos spécialités.</p>
      <p>Elle se déploie sur 3 niveaux hiérarchiques, dont voici le premier &#8239;</p>
      <ul>
        <li><em>La collecte de données&#8239;</em>: APIs, entretiens, entrepôts de données, scraping, sondages, etc.</li>
        <li><em>La curation de contenuss&#8239;</em>: aspects légaux, chiffrement, enrichissement, documentation, nettoyage, sauvegarde des données, etc.</li>
        <li><em>L’analyse de donnéess&#8239;</em>: méthodes qualitative ou quantitative, spatiale, visuelle, statistique, traitement automatique du langage, etc.</li>
        <li><em>Les outilss&#8239;</em>: administration de systèmes d’information, bases de données, CAQDAS, Git, etc.</li>
        <li><em>La valorisations&#8239;</em>: archivage, communication, gestion de projet, publication, écologie du numérique, etc.</li>
      </ul>
      <p>Lors de l’inscription, renseignez le champ «&#8239;compétence supplémentaire&#8239;» afin de nous informer d’un manque. Nous en prendrons connaissance et ferons de notre mieux pour l’inclure afin de représenter la diversité des compétences de la communauté de recherche.</p>
    <h2>Le projet et l’équipe RésIn</h2>
      <p>Cet annuaire est l’un des résultats du <a href="https://medialab.sciencespo.fr/activites/resin/">projet de mise en réseau — RésIn</a>. L’idée est née du constat de l’isolement des ingénieur·es de recherche dans leurs unités de recherche respectives. Or, les métiers du soutien à la recherche occupent un rôle central dans la production de connaissances, tout particulièrement dans le contexte de la transition numérique, qui transforme nos sociétés et nos métiers.</p>
      <p>C’est en ce sens que le projet RésIn (pour <em>Rés</em>eau d’<em>in</em>génieur·es dans la recherche) vise rassembler des professionnel·les des méthodes de recherche, notamment au sein du collectif des institutions composant Sciences Po et l’Université Paris Cité.</p>


      <p>C’est dans ce cadre que l’annuaire a vu le jour, grâce au travail de l’équipe du médialab (<a href="https://medialab.sciencespo.fr/equipe/beatrice-mazoyer/" target="_blank">Béatrice Mazoyer</a>, <a href="https://medialab.sciencespo.fr/equipe/marion-frelat/" target="_blank">Marion Frelat</a>, <a href="https://medialab.sciencespo.fr/equipe/audrey-baneyx/" target="_blank">Audrey Baneyx</a>, <a href="https://medialab.sciencespo.fr/equipe/sandra-hamiche/" target="_blank">Sandra Hamiche</a>, <a href="https://medialab.sciencespo.fr/equipe/robin-de-mourat/" target="_blank">Robin de Mourat</a>, <a href="https://medialab.sciencespo.fr/equipe/diego-antolinos-basso/" target="_blank">Diégo Antolinos Basso</a>, <a href="https://medialab.sciencespo.fr/equipe/marine-chuberre/" target="_blank">Marine Chuberre</a>) et avec l’appui de prestataires externes (Maud Royer et <a href=https://julie-blanc.fr/" target="_blank">Julie Blanc</a>).</p>


      <p>Ainsi, lorsque vous vous inscrivez, c’est l’équipe du projet qui valide votre profil avant qu’il ne soit publié sur l’annuaire.</p>
    <h2>Comité de pilotage du projet RésIn</h2>
      <p>Flora Chanvril, chargée d’études statistiques au Cevipof, Sciences Po <br>
      Suzanne Mpouli, correspondante Humanités numériques, Centre des humanités numériques, Université Paris-Cité <br>
      Hugues Pecout, ingénieur d’études en sciences de l’information géographique à Géographie-Cités, CNRS <br>
      Damien Cartron, ingénieur de recherche en sociologie, CNRS, Centre Maurice Halbwachs <br>
      Anna Egea, ingénieure responsable des ressources et de l'ingénierie documentaire, CSO, Sciences Po</p>

      <p>Pour toute question concernant le projet ou le fonctionnement de l’annuaire, ou pour participer à nos activités, écrivez à audrey.baneyx@sciencespo.fr ou marine.chuberre@sciencespo.fr.</p>
      <p>Le projet RésIn a bénéficié du soutien apporté par l’ANR et l’État au titre du programme d’Investissements d’avenir dans le cadre de l’IdEx Université Paris Cité (ANR-18-IDEX-0001) en 2023 et 2024.</p>
      <p>
          <img src="https://medialab.sciencespo.fr/static/Logo_investir_lavenir-2_72c6266c-c812-4a49-b2b2-1a4c195f15c7.png" width="100" height="100"/>
          <img src="https://medialab.sciencespo.fr/static/706_UniversiteParisCite_idex-706x675_20988cd1-86eb-42b7-9df6-c0c9639ef8ce.jpg" width="100" height="100"/>
      </p>
</div>
{% endblock %}
