{% extends "main.html" %} 
{% block main_attributes %} class="page-static"{% endblock %}
{% block body %}

<div id="sub-header" aria-hidden="true">
  <div class="container">
    <p><a href="/" aria-label="Retour à l’accueil">Annuaire RésIn</a></p>
    <p>&gt;</p>
    <p><a href="#" aria-label="Retour en haut de la page">Ressources</a></p>
  </div>
</div>

  <h2> Ressources pour les ingénieur·es dans&nbsp;la&nbsp;recherche</h2>

  <nav class="page-toc">
    <ul>
      <li><a href="#atelier-methodes">L’atelier de méthodes (MetAt)</a></li>
      <li><a href="#pistes-bibliographiques">Pistes bibliographiques</a></li>
      <li class="level-2"><a href="#sciences-gestion">Sciences de la gestion</a></li>
      <li class="level-2"><a href="#sociologie-ethnographie-histoire">Sociologie, ethnographie et&nbsp;histoire</a></li>
      <li class="level-2"><a href="#logiciels-donnees">Logiciels et données de&nbsp;la&nbsp;recherche</a></li>
    </ul>
    <button class="back-to-top"><a href="#">↑ Revenir en haut</a></button>

  </nav>


  <h3 id="atelier-methodes">L’atelier de méthodes (MetAt)</h3>

  <p>Un <a href="https://drive.google.com/file/d/1i6Bz2WEvRQxM4bl3Kv_xuf5qV1BbTwUP/view?usp=share_link" target="_blank">toolkit</a> pour organiser des ateliers de méthodes.</p>


  <h3 id="pistes-bibliographiques">Quelques pistes bibliographiques des questions qui animent le&nbsp;projet&nbsp;RésIn</h3>

  <h4 id="sciences-gestion">Sciences de la gestion&#8239;: une force de travail aux&nbsp;compétences&nbsp;mixtes</h4>

  <ul>
    <li>BERMAN Judith E., PITMAN Tim, « Occupying a 'third space': research trained professional staff in Australian universities », Higher Education, Vol. 60, N° 2, 2010, p. 157-169. <a href="https://doi.org/10.1007/s10734-009-9292-z">https://doi.org/10.1007/s10734-009-9292-z</a></li>
    <li>BLACKMORE Paul, « Conceptions of development in higher education institutions », Studies in Higher Education, 34:6, 2009, p. 663-676. <a href ="https://doi.org/10.1080/03075070902785598">https://doi.org/10.1080/03075070902785598</a></li>
    <li>BUSHAWAY Robert W., Managing Research, Open University Press, 2003. <a href="https://www.mheducation.co.uk/managing-research-9780335224463-emea">https://www.mheducation.co.uk/managing-research-9780335224463-emea</a></li>
    <li>CORRALL Sheila, « Educating the academic librarian as a blended professional: a review and case study », Library Management, Vol. 31, N° 8/9, 2010, p. 567-593. <a href="https://doi.org/10.1108/01435121011093360">https://doi.org/10.1108/01435121011093360</a></li>
    <li>RHOADES Gary, « Envisioning Invisible Workforces: Enhancing Intellectual Capital » dans WHITCHURCH Celia, GORDON George (dir.), Academic and Professional Identities in Higher Education: The Challenges of a Diversifying Workforce, New York, Routledge, 2010, p. 35-53. <a href="https://doi.org/10.4324/9780203865255">https://doi.org/10.4324/9780203865255</a></li>
    <li>TURPIN Andrew, GRUBA Paul, « Developing a Workforce to Support Research Reliant on Data and Compute », Ceur Workshop Proceedings, Vol. 3036, 2021. <a href="https://ceur-ws.org/Vol-3036/keynote03.pdf">https://ceur-ws.org/Vol-3036/keynote03.pdf</a></li>
  </ul>

  <h4 id="sociologie-ethnographie-histoire">Sociologie, ethnographie et histoire&#8239;: identités, rapports de pouvoir et&nbsp;professionnalisation</h4>

  <ul>
    <li>ALLEN-COLLINSON Jacquelyne, « ”Get yourself some nice, neat, matching box files”: research administrators and occupational identity work », Studies in Higher Education, 32 (3), 2007, p. 295-309. <a href="https://doi.org/10.1080/03075070701346832">https://doi.org/10.1080/03075070701346832</a></li>
    <li>ALLEN-COLLINSON Jacquelyne, « Negative “marking”: University research administrators and the contestation of moral exclusion », Studies in Higher Education, 34 (8), 2009, p. 941-954. <a href="https://doi.org/10.1080/03075070902755641">https://doi.org/10.1080/03075070902755641</a></li>
    <li>BOUCHET Célia, « Des inégalités répertoriées : les (dé)valorisations genrées des emplois de soutien à la recherche », LIEPP Working Paper, n° 135, 2022. <a href="https://sciencespo.hal.science/hal-03694358v1">⟨hal-03694358⟩</a></li>
    <li>CARDON Dominique, GRANJON Fabien, Médiactivistes, Paris, Presses de Sciences Po, 2013. <a href="https://doi.org/10.3917/scpo.cardo.2013.01">https://doi.org/10.3917/scpo.cardo.2013.01</a></li>
    <li>DEMAZIÈRE Didier, HORN François, JULLIEN Nicolas, « Le travail des développeurs de logiciels libres. La mobilisation dans des “communautés distantes” », Cahiers lillois d’économie et de sociologie, 2005, n° 46, p.171-194. <a href="https://hal.science/hal-00282214v1">⟨hal-00282214v1⟩</a></li>
    <li>DEMAZIÈRE Didier, HORN François, ZUNE Marc, « Les développeurs de logiciels libres : militants, bénévoles ou professionnels ? », dans DEMAZIERE Didier, GADEA Charles (dir.), Sociologie des groupes professionnels, Paris, La Découverte, 2009, p. 285-295. <a href="https://doi.org/10.3917/dec.demaz.2010.01.0285">https://doi.org/10.3917/dec.demaz.2010.01.0285</a></li>
    <li>MARTY Olivier, WITTORSKI Richard, « Ethnographie d’un conseil d’administration universitaire : un cas de professionnalisation conjointe », Savoirs, N° 51(3), 2019, p. 97-112. <a href="https://doi.org/10.3917/savo.051.0097">https://doi.org/10.3917/savo.051.0097</a></li>
    <li>MUSSELIN Christine, KEHM Barbara M. (dir.), The development of higher education research in Europe, 25 years of CHER, Rotterdam, Sense Publisher, 2013. <a href="https://doi.org/10.1007/978-94-6209-401-7">https://doi.org/10.1007/978-94-6209-401-7</a></li>
    <li>PARADEISE Catherine, REALE Emanuela, BLEIKLIE Ivar, FERLIE Ewan (dir.), University governance, New York, Springer, 2009. <a href="https://shs.hal.science/halshs-00439057/">⟨halshs-00439057⟩</a></li>
    <li>PARASIE Sylvain, « Justicier, chercheur ou hacker ? Le journalisme d’enquête à l’ère du traitement de données » dans CARMES Maryse, NOYER Jean-Max (dir.), Les débats du numérique, Paris, Les Presses des Mines, p. 169-184. <a href="https://doi.org/10.4000/books.pressesmines.1667">https://doi.org/10.4000/books.pressesmines.1667</a></li>
    <li>VINCENTE Michaël, « Les parcours des développeurs de logiciels libres : vecteur de diffusion d’une innovation », Sociologies pratiques, n° 31, 2015, p. 55-64. <a href="https://doi.org/10.3917/sopr.031.0055">https://doi.org/10.3917/sopr.031.0055</a></li>
    <li>WAQUET Françoise, Dans les coulisses de la science. Petites mains et autres travailleurs invisibles, Paris, CNRS éditions, 2022. <a href="https://hal.science/hal-04318400v1">⟨hal-04318400v1⟩</a></li>
    <li>WHITCHURCH Celia, « Shifting Identities and Blurring Boundaries: The Emergence of Third Space Professionals in UK Higher Education », Higher Education Quarterly, 62(4), 2008, p. 377-396. <a href="https://doi.org/10.1111/j.1468-2273.2008.00387.x">https://doi.org/10.1111/j.1468-2273.2008.00387.x</a></li>
    <li>WHITCHURCH Celia, Reconstructing Identities in Higher Education: The Rise of 'Third Space' Professionals, Londres, Routledge, 2012. <a href="https://www.routledge.com/Reconstructing-Identities-in-Higher-Education-The-rise-of-Third-Space-professionals/Whitchurch/p/book/9780415614832">https://www.routledge.com/Reconstructing-Identities-in-Higher-Education-The-rise-of-Third-Space-professionals/Whitchurch/p/book/9780415614832</a></li>
  </ul>

  <h4 id="logiciels-donnees">Logiciels et données de la recherche&#8239;: retours d’ingénieurs et perspectives critiques sur&nbsp;le&nbsp;code</h4>

  <ul>
   <li>ANTOLINOS-BASSO, Diégo, BANEYX, Audrey, THÉRO, Héloïse., OOGHE-TABANOU, Benjamin, GIRARD, Paul « L’atelier de méthodes de Sciences Po: apprendre, aider, rassembler. » Humanités numériques 5, 2022. <a href="https://sciencespo.hal.science/hal-03690654v1">⟨hal-03690654v1⟩</a></li>
   <li>GOMEZ-DIAZ Teresa, « Les logiciels de la recherche et leurs licences : trois visions sur un objet », Cours Université Gustave Eiffel, 2024. <a href="https://enpc.hal.science/hal-02434287v3>⟨hal.science/hal-02434287v3⟩</a></li>
   <li>GOMEZ-DIAZ Teresa, « Sur le partage et la diffusion des logiciels et des données de la recherche dans le cadre de la Science ouverte. The Borgman's conundrum challenges. », Séminaire de méthode de Sciences Po (MetSem), 2024. <a href="https://doi.org/10.58079/12g95">https://doi.org/10.58079/12g95</a></li>
   <li>KOESER Rebecca Sutton, « Trusting Others to “Do the Math” », Interdisciplinary Science Reviews, n° 40(4), 2015, p. 376-392. <a href="https://doi.org/10.1080/03080188.2016.1165454">https://doi.org/10.1080/03080188.2016.1165454</a></li>
   <li>MARINO Mark C, Critical code studies, Electronic Book Review, 2006. <a href="https://electronicbookreview.com/publications/critical-code-studies/">https://electronicbookreview.com/publications/critical-code-studies/</a></li>
   <li>MCPHERSON Tara, « Why are the digital humanities so white? or Thinking the Histories of Race and Computation. » dans GOLD Matthew K., Debates in the Digital Humanities, Minneapolis, University of Minnesota Press, 2012, p. 139-160. <a href="https://dhdebates.gc.cuny.edu/read/untitled-88c11800-9446-469b-a3be-3fdb36bfbd1e/section/20df8acd-9ab9-4f35-8a5d-e91aa5f4a0ea">https://dhdebates.gc.cuny.edu/read/untitled-88c11800-9446-469b-a3be-3fdb36bfbd1e/section/20df8acd-9ab9-4f35-8a5d-e91aa5f4a0ea</a></li>
   <li>MCPHERSON Tara, Feminist in a Software Lab: Difference and Design, Cambridge, MA: Harvard University Press, 2018. <a href="https://www.degruyterbrill.com/document/doi/10.4159/9780674275287/html">https://www.degruyterbrill.com/document/doi/10.4159/9780674275287/html</a></li>
   <li>VENTURINI Tommaso, JACOMY Mathieu, MEUNIER Axel, LATOUR Bruno, « An unexpected journey: A few lessons from Sciences Po médialab’s experience. », Big Data & Society, 4 (2), 2017. <a href="https://doi.org/10.1177/20539517177209">https://doi.org/10.1177/20539517177209</a></li>
  </ul>
  {% endblock %}
 

  {% block scripts %}
  {{ super() }}
  <script type="text/javascript" src="js/toc.js"></script>
  {% endblock %}
