<nav id="skills-tree__nav">


  <button id="toggle-graph">
    <!-- Vue graph -->
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7 19h-6v-11h6v11zm8-18h-6v18h6v-18zm8 11h-6v7h6v-7zm1 9h-24v2h24v-2z"/></svg>
  </button>

  <button class="toggle-all is-collapsed">
    <span class="text when-collapsed">Tout déplier</span>
    <span class="text when-expanded">Tout replier</span>
    <span class="icon when-collapsed">+</span>
    <span class="icon when-expanded">-</span>
  </button>
  <!-- <span class="visible-count">
    <span class="count-number">0</span> compétences
  </span> -->

</nav>

<div id="skills-tree" class="is-collapsed">
  <!-- <h2>Arbre de compétences</h2> -->
  <ul class="level-1 is-open">
    {% for category in categories %}
    {% set hasChildren = false %}
    {% for subcategory in subcategories %}
      {% if subcategory.path.startsWith(category.path) %}
        {% set hasChildren = true %}
      {% endif %}
    {% endfor %}

    <li class="field__container{% if hasChildren %} has-child{% endif %}" data-path="{{ category.path }}" data-field="field-{{ loop.index }}">

      <div class="item field__item" data-count="{{ category.count }}">
        <input class="item__checkbox" id="cb-{{ category.path }}" type="checkbox" value="{{ category.path }}">
        <label for="cb-{{ category.path }}">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9 22l-10-10.598 2.798-2.859 7.149 7.473 13.144-14.016 2.909 2.806z"/></svg>
        </label>
        <span class="name" >{{ category.label }}</span>
        <span class="count">{{ category.count }}</span>
        <button class="btn__toggle"><span class="when-collapsed">+</span><span class="when-expanded">-</span></button>
      </div>

      <div class="item__graph">
        {% for i in range(category.count) %}
        <div class="block"></div>
        {% endfor %}
        <div class="info">{{ category.count }} ingénieur·es</div>
      </div>
    
      <ul class="level-2 is-collapsed">
        {% for subcategory in subcategories %}
        {% if subcategory.path.startsWith(category.path) %}
        {% set hasChildren = false %}
        {% for subsubcategory in subsubcategories %}
          {% if subsubcategory.path.startsWith(subcategory.path) %}
            {% set hasChildren = true %}
          {% endif %}
        {% endfor %}

        <li class="skill__container{% if hasChildren %} has-child{% endif %}" data-path="{{ subcategory.path }}">
          <div class="item skill__item" data-count="{{ subcategory.count }}">
            <input class="item__checkbox" id="cb-{{ subcategory.path }}" type="checkbox" value="{{ subcategory.path }}">  
            <label for="cb-{{ subcategory.path }}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9 22l-10-10.598 2.798-2.859 7.149 7.473 13.144-14.016 2.909 2.806z"/></svg>
            </label>
            <span class="name">{{ subcategory.label }}</span>
            <span class="count">{{ subcategory.count }}</span>
            <button class="btn__toggle"><span class="when-collapsed">+</span><span class="when-expanded">-</span></button>
          </div>


          <div class="item__graph">
            {% for i in range(subcategory.count) %}
            <div class="block"></div>
            {% endfor %}
            <div class="info">{{ subcategory.count }}</div>
          </div>

          <ul class="level-3 is-collapsed">
            {% for subsubcategory in subsubcategories %}
            {% if subsubcategory.path.startsWith(subcategory.path) %}
            <li class="detail__container" data-path="{{ subsubcategory.path }}">
              <div class="item detail__item" data-count="{{ subsubcategory.count }}">
                <input class="item__checkbox" id="cb-{{ subsubcategory.path }}" type="checkbox" value="{{ subsubcategory.path }}">
                <label for="cb-{{ subsubcategory.path }}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9 22l-10-10.598 2.798-2.859 7.149 7.473 13.144-14.016 2.909 2.806z"/></svg>
                </label>
                <span class="name">{{ subsubcategory.label }}</span>
                <span class="count">{{ subsubcategory.count }}</span>
                <button class="btn__toggle"><span class="when-collapsed">+</span><span class="when-expanded">-</span></button>
              </div>

              <div class="item__graph">
                {% for i in range(subsubcategory.count) %}
                <div class="block"></div>
                {% endfor %}
                <div class="info">{{ subsubcategory.count }}</div>
              </div>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</div>
