.card{

    --size-img: 90px;

    .inner-card{
        display: grid;
        grid-template-columns: var(--size-img) 1fr ;
        column-gap: calc(var(--spacing)*0.75);
        height: 100%;

        outline: var(--border-light);
        border-radius: var(--radius-small);
        padding: var(--spacing);
        box-shadow: 3px 6px 10px -5px var(--color-100);


        position: relative;
        overflow: hidden;

    
        
    }
 
    .skills-block{
        grid-column: 2;
        grid-row: 1;
        align-self: end;
        z-index: 100;
        cursor: pointer;
    
    }

    .card-image{
        grid-column: 1;
        grid-row: 1;
        justify-self: end;
        display: flex;
    }

    .title, .p__short-bio, .skills-list{
        grid-column: span 2;
    }



    .tooltip{ 
        display: none;
    }

    .skills-block{
        @include skills-block();
        justify-content: flex-end;
        transition: all .3s ease-in;
    
        .skill-text{ 
            max-width: 0;
            transition: max-width .4s ease-in;
            overflow: hidden;
            position: relative;
            left: -4px;
            &::before{
                content: '\00a0';
            }
            &::after{
                content: '\00a0\00a0';
            }
        }
        &:hover{
            position: relative;
            left: 16px;
            .skill-text{
                max-width: 15ch;
            }
        }
    }


    .card-image{
       
        @include figure();
        img, svg{
            width: var(--size-img);
        }
    }

    .skills-list{
        margin-top: calc(var(--spacing)*3);
        z-index: 100;
        @include skills-tags();
    }


    .title{
        border-top: var(--border-light);
        margin-top: calc(var(--spacing)*0.5);
        padding-top: calc(var(--spacing)*1.5);
        padding-bottom: calc(var(--spacing)*1.5);
        h2{
            font-weight: 500;
            // font-style: italic;
            color: var(--color-txt);
            font-size: var(--fs-big);
            line-height: 1.2;
    
            a{
                text-decoration: none;
            }
        }
    }


 

    .p__short-bio{
        // font-size: var(--fs-medium);
        line-height: 1.3;
    }
    .p__institution{
        font-weight: 500;
        color: var(--color-txt);
        padding-top: 2px;
        line-height: 1.2;
    }


    
    .link-block{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        
    }


    &:hover{

        .inner-card{
            outline: 1px solid var(--accent-soft);
            background-color: var(--color-100);
        }

        .title{
            border-color: var(--color-300);
        }

        // .title h2, .p__institution{
        //     color: var(--accent-soft);
        // }
     
    }
}