.card{

    padding-bottom: 2em;
    margin-bottom: 2em;
    max-width: 400px;
    // border-bottom: 1px solid var(--color-200);


    .inner-card{
        display: grid;
        grid-template-columns: 80px 1fr;
        padding-top: var(--padding-body);
    }
 

    .title{
      grid-column: 2;
        grid-row: 1;
    }
   


    .p__short-bio{
        grid-column: 2;
    }


    .tooltip{ 
        display: none;
    }
    .card-image{
        max-width: 80px;
        grid-column: 1;
        grid-row: 1/3;
        position: relative;
        left: -15px;

        img{
            width: 70px;
        }
    }

    .member-skills{
        display: none!important;
        
        ul{
            text-decoration: none;
            display: inline;

            li{
                display: inline;
            }
        }

        .item{
            display: inline-block;
            font-family: var(--mono);
            font-weight: var(--fw-mono);
            font-size: var(--fs-small);
            line-height: 1;

            border: 1px solid currentColor;
        }
    }



    h2{
        font-family: 'Edgar';
        font-weight: 500;
        font-style: italic;
        color: var(--color-900);
        font-size: var(--fs-big);
        line-height: 1.2;

        a{
            text-decoration: none;
        }
    }

    .p__short-bio{
        // font-size: var(--fs-medium);
        line-height: 1.2;
    }
    .p__institution{
        font-family: var(--mono);
        font-weight: var(--fw-mono);
        margin-top: 0.75em;
        margin-bottom: 1em;
        font-size: var(--fs-small);
        line-height: 1.2;
    }
}