.card{

    margin-bottom: 4em;
    max-width: 400px;


    .inner-card{
        display: grid;
        grid-template-columns: 80px 1fr;
        padding-top: var(--padding-body);
    }
 

    .title{
      grid-column: 2;
        grid-row: 1;
    }
   


    .p__short-bio{
        grid-column: 2;
    }


    .tooltip{ 
        display: none;
    }
    .card-image{
        max-width: 80px;
        grid-column: 1;
        grid-row: 1/3;

        img{
            width: 70px;
        }
    }

    .member-skills{
        display: none;
        ul{
            margin-left: 2em;
        }
    }



    h2{
        font-family: 'Edgar';
        font-weight: 500;
        font-style: italic;
        color: var(--color-600);
        font-size: 2em;

        a{
            text-decoration: none;
        }
    }

    .p__short-bio{
        // font-size: var(--fs-medium);
    }
    .p__institution{
        font-family: var(--mono);
        font-weight: var(--fw-mono);
        margin-bottom: 0.5em;
    }
}