.card{

    
    container: card;
    container-type: inline-size;
    --size-img: 90px;


    .inner-card{
        display: grid;
        grid-template-columns: var(--size-img) 1fr ;
        column-gap: calc(var(--spacing)*0.75);
        height: 100%;

        outline: var(--border-light);
        border-radius: var(--radius-small);
        padding: var(--spacing);
       
        box-shadow: var(--shadow);


        position: relative;
        overflow: hidden;

    
        
    }
 
    .skills-block{
        grid-column: 2;
        grid-row: 1;
        align-self: end;
        z-index: 100;
        cursor: pointer;

        .skill-text{ 
            max-width: 0;
            overflow: hidden;
    
        }

    }

    .card-image{
        grid-column: 1;
        grid-row: 1;
        justify-self: end;
        display: flex;
        height: var(--size-img);
    }

    .title, .p__short-bio, .skills-list{
        grid-column: span 2;
    }

    .excerpt{
        grid-column: span 2;
        color: var(--color-txt-light);
        font-style: italic;


        .excerpt-separator{
            height: var(--spacing);
        }

    }



    .tooltip{ 
        display: none;
    }

    .skills-block{
        @include skills-block();
        justify-content: flex-end;
      
    }


    .card-image{
       
        @include figure();
        img, svg{
            width: var(--size-img);
        }
    }

    .skills-list{
        margin-top: calc(var(--spacing)*2);
        @include skills-tags();
        
        z-index: 400;
         
        li{
            cursor: pointer;
            &:hover{
                border-color: var(--color);
                color: var(--color);
            }
        }

        li.is-selected{
            background-color: var(--color-xlight);
            color: var(--color);
            border-color: var(--color);

        }
    }


    .title{
        border-top: var(--border-light);
        margin-top: calc(var(--spacing)*0.5);
        padding-top: calc(var(--spacing)*1.5);
        padding-bottom: calc(var(--spacing)*1.5);
        h2{
            font-weight: 500;
            // font-style: italic;
            color: var(--color-txt);
            font-size: var(--fs-big);
            line-height: 1.1;
    
            a{
                text-decoration: none;
            }
        }
    }


 

    .p__short-bio{
        // font-size: var(--fs-medium);
        line-height: 1.3;
        margin-bottom: calc(var(--spacing)*1);
    }
    .p__institution{
        font-weight: 500;
        color: var(--color-txt);
        padding-top: calc(var(--spacing)*0.25);
        line-height: 1.2;
    }


    
    .link-block{
        @include link-block();        
    }


    &:hover{

        .inner-card{
            outline: 1px solid var(--accent-soft);
            background-color: var(--color-100);
        }

        .title{
            border-color: var(--color-300);
        }
     
    }
}



// fallback
@media #{$phone}{
   
    .inner-card{
        column-gap: calc(var(--spacing)*1.5)!important;
        row-gap: calc(var(--spacing)*1);
        .skills-block{
            align-self: start;
            border-bottom: var(--border-light);
            padding-bottom: calc(var(--spacing)*0.25);
            grid-column: 1/3;

            .skill-group{
                position: relative;
                left: 3px;
            }
        }

        .card-image{
            grid-column: 1;
            grid-row: 2;
        }

        .title{
            grid-column: 2;
            grid-row: 2;
            border: none;
            margin: 0;
            padding: 0;
        }

        .skills-list{
            margin-top: 0px;
        }
    }
}

@container card (width < 420px) {
    .inner-card{
        column-gap: calc(var(--spacing)*1.5)!important;
        row-gap: calc(var(--spacing)*1);
        .skills-block{
            align-self: start;
            border-bottom: var(--border-light);
            padding-bottom: calc(var(--spacing)*0.25);
            grid-column: 1/3;

            .skill-group{
                position: relative;
                left: 3px;
            }
        }

        .card-image{
            grid-column: 1;
            grid-row: 2;
        }

        .title{
            grid-column: 2;
            grid-row: 2;
            border: none;
            margin: 0;
            padding: 0;
        }

        .skills-list{
            margin-top: 0px;
        }
    }
}


@container card (width > 420px) {
    .inner-card{
        .skills-block{
            transition: all .3s ease-in;
        
        .skill-text{ 
            max-width: 0;
            overflow: hidden;

            transition: max-width .4s ease-in;
            position: relative;
            left: -4px;
            &::before{
                content: '\00a0';
            }
            &::after{
                content: '\00a0\00a0';
            }
        }
        &:hover{
            position: relative;
            left: 16px;
            .skill-text{
                max-width: 15ch;
            }
        }


        }
    }

}


