@mixin hide-scroll(){
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
    &::-webkit-scrollbar { display: none;  /* Chrome, Safari, Opera */ }
}


@mixin title-home(){
    font-family: var(--mono);
    font-weight: var(--fw-mono);
    color: var(--color-txt);
  
    // background-color: var(--color-050);
    background-color: var(--color-100);
    height: var(--tree-item-h);
    padding: 0px 1ch;
    display: flex;
    align-items: center;
    gap: 1ch;
    border-radius: var(--radius-small);
    text-transform: uppercase;
    font-size: var(--fs-small);
    letter-spacing: 0.01rem;

    @media #{$small-up}{
        font-size: var(--fs-small);
    }

    @media #{$small}{
        font-size: var(--font-size);
    }


}



@mixin button-common(){
    font-family: var(--mono);
    font-weight: var(--fw-mono);
    font-size: var(--fs-small);
    height: var(--button-h);
    border-radius: var(--radius-small);
    padding: 0 1ch;
    display: flex;
    align-items: center;


    cursor: pointer;
}

@mixin button-has-link(){
    padding: 0!important;
    a{ 
        padding: 0 1ch;
        text-decoration: none; 
        display: block;
        width: 100%;
        height: 100%;
    
    }
}


@mixin button(){
    @include button-common();
    color: var(--color-txt);
    border: 1px solid var(--color-100);
    background-color: var(--color-bg);
    &:hover{
        background-color: var(--color-100);
        border-color: var(--color-300);
    }
}


@mixin button-color(){
    @include button-common();
    border: 1px solid var(--color-300);
    color: var(--accent-soft);
    background-color: var(--color-bg);
    cursor: pointer;
    &:hover{
        background-color: var(--color-100);
        border-color: var(--color-300);
    }
}


@mixin button-bold(){
    @include button-common();
    color: var(--color-050);
    background-color: var(--accent-soft);
    &:hover{
        background-color: var(--accent);
    }
}




@mixin figure(){
    img{
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: var(--radius-small);
        border: var(--border-light);
        filter: contrast(90%);
    } 
    svg path{
        fill: var(--color-avatar)!important;
    }
}




@mixin skills-block(){
    display: flex;
    flex-wrap: wrap;
  
    width: 100%;

    .skill-group{ 
        height: 100%;
        display: flex;
        align-items: center;
        gap: 3px;
        white-space: nowrap;
    }

    .skill-text{ 
        font-family: var(--mono);
        font-weight: var(--fw-mono);
        font-size: var(--fs-small);
        color: var(--color);
      
    }

    .skill-color{
        height: var(--block-graph);
        width: var(--block-graph);
        background-color: var(--color);
        border-radius: var(--radius-small);
    }
}


@mixin skills-tags(){
    ul{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 3px;
    }
    li{
        @include button();
    }
}


