
#section__skills-tree{
    width: calc(var(--tree-w) + var(--padding-body));
    border-right: var(--border-light);
    position: fixed; 
    left: var(--padding-body);
    top: var(--header-h);
    height: calc(100vh - var(--header-h));
    overflow: scroll;
    @include hide-scroll();
    padding-bottom: calc(var(--padding-body)*2);
    z-index: 1000;
    background-color: var(--color-bg-alpha);
}


#section__search{
    margin-left: calc(var(--tree-w) + var(--padding-body));
    padding-left: calc(var(--padding-body)*2);
    border-bottom: var(--border-light);
    background-color: var(--color-bg);
    height: 60px;
    width: calc(100vw - var(--tree-w) - var(--padding-body)*2);

    position: sticky;
    top: var(--header-h);
    z-index: 800;
}

#section__cards{

    #count-members{
        font-family: var(--mono);
        font-weight: var(--fw-mono);
        text-align: right;
        margin-bottom: calc(var(--spacing)*1);
        color: var(--color-txt);
    }
    margin-left: calc(var(--tree-w) + var(--padding-body));
    // width: calc(100% + var(--padding-body));
    padding: calc(var(--padding-body)*2);
    // padding-left: calc(var(--padding-body)*3);
    padding-bottom: 30vh;


    .cards-wrapper{
        display: grid;
       grid-template-columns: 1fr 1fr;
       column-gap: calc(var(--padding-body)*1);
       row-gap: calc(var(--padding-body)*1);
       position: relative;
    //    top: -80vh;
    }

    position: relative;

   

}



