main{
    position: relative;
    // padding-top: calc(var(--padding-body)*2);
    padding-left: calc(var(--padding-body)*3);
    margin-top: var(--header-h);
}

#section__skills-tree{
    width: calc(var(--tree-w) + var(--padding-body));
    border-right: var(--border-light);
    position: fixed; 
    left: var(--padding-body);
    top: var(--header-h);
    height: calc(100vh - var(--header-h) - var(--padding-body));
    overflow: scroll;
    @include hide-scroll();
    padding-bottom: 20vh;
    z-index: 1000;
    background-color: var(--color-bg-alpha);

   
}


#section__search{
    margin-left: calc(var(--tree-w) - var(--padding-body));
    padding-left: calc(var(--padding-body)*2);
    border-bottom: var(--border-light);
    background-color: var(--color-bg);
    height: 60px;

    position: sticky;
    top: var(--header-h);
    z-index: 800;
}

#section__cards{
    margin-left: calc(var(--tree-w) - var(--padding-body));
    padding: calc(var(--padding-body)*2) calc(var(--padding-body)*3);
    padding-bottom: 30vh;


    .cards-wrapper{
        display: grid;
       grid-template-columns: 1fr 1fr;
       column-gap: calc(var(--padding-body)*1);
       row-gap: calc(var(--padding-body)*1);
       position: relative;
    //    top: -80vh;
    }

    position: relative;

   

}



