main{
    position: relative;
    // padding-top: calc(var(--padding-body)*2);
    padding-left: calc(var(--padding-body)*3);
    margin-top: var(--header-h);
}

#section__skills-tree{
    width: calc(100vw - var(--padding-body)*2);
    position: fixed; 
    left: var(--padding-body);
    top: var(--header-h);
    padding-top: calc(var(--padding-body)*2);
    height: calc(100vh - var(--header-h) - var(--padding-body));
    overflow: scroll;
    @include hide-scroll();
    padding-right: var(--padding-body);
    padding-bottom: 20vh;
    z-index: 8000;

 


    

    #skills-tree__nav{
        width: var(--tree-w);
        position: relative;
    }


   
}


#section__search{
    margin-left: var(--tree-w);
    padding-left: calc(var(--padding-body)*4);
    border-left: var(--border-light);
    border-bottom: var(--border-light);
    background-color: var(--color-bg);
    height: 60px;

    position: sticky;
    top: var(--header-h);
    z-index: 800;
}

#section__cards{
    margin-left: var(--tree-w);
    padding-left: calc(var(--padding-body)*4);
    padding-top: calc(var(--padding-body)*4);
    border-left: var(--border-light);
    // display: none;


    .cards-wrapper{
        display: grid;
       grid-template-columns: 1fr 1fr;
       column-gap: 2em;
       position: relative;
    //    top: -80vh;
    }

    position: relative;

   

}


.hidden-div{
    width: 100%;
    height: 100vh;
    background-color: var(--color-bg);
    opacity: 0.95;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

body{

    .hidden-div{
        display: none;
    }

}

body.graph-view{
    overflow: hidden;
    .hidden-div{
        display: block!important;
    }
}