#member{

    .member__header{
        figure{
            @include figure();
            width: 100%;
            img, svg{
                width: 100%;
            }
        }


        .skills-block{
            @include skills-block();
            .skill-text{
                padding-left: 0.25ch;
                padding-right: 2ch;
            }
            border-bottom: var(--border-light);
            padding-bottom:  calc(var(--spacing)*0.5);
        }

        #header__edit-button{
            @include button();
            width: var(--button-h);
            padding: 0;
            align-items: center;
            justify-content: center;
          

            .icon svg{ 
                width: 16px;
                fill: var(--color-300);
                position: relative;
                top: 1px;
                
            }
            .text{ display: none; }
        }


        .title-group{
            padding-bottom: calc(var(--spacing)*2);
            margin-bottom: calc(var(--spacing)*2);
        }
        h2{
            font-weight: 500;
            color: var(--color-txt);
            font-size: var(--fs-xbig);
            line-height: 1.2;
            margin-top:  calc(var(--spacing)*2);
        
      

            small{
                font-size: var(--fs-big);
            }
          
        }

        .organization{
            // font-size: var(--fs-medium);
            font-weight: 500;
            color: var(--color-txt);
            padding-top: 2px;
            line-height: 1.2;
            max-width: 42ch;
            margin-top: calc(var(--spacing)*0.5);
        }

  
      

    }

    .member__hero{
        .short-bio{
            font-size: var(--fs-big);
            line-height: 1.2;
            font-style: italic;
            max-width: 640px;
            margin-bottom: calc(var(--spacing)*2);
        }
    
    
        .skills-list{
            @include skills-tags();
            max-width: 640px;
        }
    }


    .member__details{

        padding-top: calc(var(--spacing)*0.75);
        dl{
            width: 100%;
            margin-bottom: calc(var(--spacing)*1.5);
        }
        dl + dl{
            border-top: none;
        }

        dt{
            font-family: var(--mono);
            font-weight: var(--fw-mono);
            font-size: var(--fs-small);
            color: var(--accent-soft);
            margin-bottom: calc(var(--spacing)*0.5);
            border-bottom: var(--border-light);
        }

    

        #btn-contact{ display: none; }
        #btn-contact + label{
            @include button-bold();
            display: inline-flex;
            margin-bottom: calc(var(--spacing)*1);
        }

        #contact{       
            font-family: var(--mono);
            font-size: var(--fs-small);
            color: var(--accent-soft);
            font-weight: 600;
            display: block;
            min-width: calc(100% - var(--button-h) - 2px);
            padding-right: 1ch;
            white-space: nowrap;
        }

        #contact__copy{
            @include button-color();
            position: relative;
            top: 0px;
            right: 0px;
            padding: 0 2px;
            white-space: nowrap;
            svg{
                width: 16px;
                fill: var(--color-300);
                position: relative;
                top: 2px;
                left: 0px;
            }

        }


        #contact__group{
            position: relative;
            border-top: var(--border-light);
            border-bottom: var(--border-light);
            padding-top: calc(var(--spacing)*0.5);
            padding-bottom: calc(var(--spacing)*0.5); 
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            row-gap: 4px;

            .success{
                position: absolute;
                bottom: calc(var(--spacing)*-2);
                color: var(--success);
                font-family: var(--mono);
                font-size: var(--fs-small);
                font-weight: var(--fw-mono);
                white-space: nowrap;
                display: none;

                svg{
                    width: 14px;
                    fill: var(--success);
                    position: relative;
                    top: 6px;
                }
            }
        }
 
        #btn-contact ~ #contact__group{
            display: none;
        }

        #btn-contact:checked ~ #contact__group{
            display: flex;
        }

        #btn-contact:checked ~ label{
            display: none;
        }



        


        


    
    }

    .member__toc{

        ul{
            list-style: none;
        }

        li{
            font-family: var(--mono);
            font-weight: 600;
            font-size: var(--fs-small);
            margin-bottom:  calc(var(--spacing)*0.75);
            position: relative;
            a{ text-decoration: none;}
            &::before{
                content: "→";
                display: block;
                position: absolute;
                left: -20px;
                opacity: 0;
            }

            &:hover{
                color: var(--accent-soft);
                &::before{ opacity: 0.9; }
            }

        }
        li.is-selected::before{
                opacity: 1;
    
        }

        .back-to-top{
            @include button();
            @include button-has-link();
            // color: var(--color-300);
            display: inline-flex;
            margin-top:  calc(var(--spacing)*2);
            &::before{
                display: none;
            }
        }
    }


    .member__content{
        font-size: var(--fs-medium);
    }



    .content-section{
        margin-bottom: calc(var(--spacing)*5);

        & > h3{
            font-family: var(--mono);
            font-weight: var(--fw-mono);
            color: var(--color-800);
            font-size: var(--fs-medium);
            border-bottom: 1px solid var(--color-100);
            margin-bottom: calc(var(--spacing)*1.5);
            color: var(--accent-soft);

        }

        p{
            margin: calc(var(--spacing)*1) 0;
        }


        ol, li{
         margin-left: 2ch;
        }

        ol li{
            margin-top:  calc(var(--spacing)*2);
            // font-weight: 500;
        }

        hr{
            border: none;
            height: var(--spacing);
        }

        
    }


    #edit-button{
        @include button-color();
        // gap: 0.5ch;
        height: auto;
        text-align: left;
        line-height: 1.1;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 10px;
        

        .text{
            margin-left: 10px;
            border-left: 1px solid var(--color-300);
            padding-left: 1.5ch;
            padding-right: 1ch;
        }
        

        svg{
            width: 20px;
            fill: var(--accent-soft);
            position: relative;
            top: 2px;
            left: 0px;

        }
    }
   



}


// LAYOUT

@media #{$small-up}{

    .main__member{
        #back-to-top{ display: none; }
    }
#member{
    --fig-w: 260px;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 var(--padding-body);
    padding-top: calc(var(--padding-body)*4);

    display: grid;
    justify-items: start;
    align-items: start;
    grid-template-columns: var(--fig-w) 1fr;
    grid-gap: calc(var(--spacing)*3);

    .member__header{
        grid-column: span 2;
    }



    .member__header{
  
        display: grid;
        grid-template-columns: var(--fig-w) 2fr ;
        grid-template-rows: calc(var(--spacing)*2) 1fr;
        align-content: start;
        column-gap: calc(var(--spacing)*3);
        // grid-template-rows: auto auto auto auto 1fr;
        margin-bottom: calc(var(--spacing)*4);

        min-height: var(--fig-w);
        position: relative;

        figure{
            grid-column: 1;
            grid-row: 1/4;
            display: flex;
            align-self: start;
            width: calc(var(--fig-w) - 30px);
            height: calc(var(--fig-w) - 30px);
        }

        .skills-block{ 
            grid-row: 1; 
            grid-column: 2;
        }


        #header__edit-button{
            grid-row: 1; 
            grid-column: 2;
            position: absolute;
            right: 0;
        }



        .title-group{
            grid-row: 2;
            grid-column: 2;
        }

   
        .member__hero{
            grid-row: 3;
            grid-column: 2;
        }


       




    }

    .col-left{
        width: 100%;
    }

    .member__toc{
        padding-top: calc(var(--spacing)*3);
    
        ul{
            padding-top: calc(var(--spacing)*3);
            // background-color: red;
            height: calc(100vh - var(--header-h) - var(--spacing)*9);
        }
    }

   
}
}



@media #{$small}{
    #member{
        display: block;
        --fig-w: 90px;
        padding-top: calc(var(--spacing)*2);


        .member__header{
  
            display: grid;
            column-gap: calc(var(--spacing)*1);
            grid-template-columns: var(--fig-w) 2fr ;
            margin-bottom: calc(var(--spacing)*3);

            .skills-block{
                grid-column: span 2;
                grid-row: 1;
                margin-bottom: calc(var(--spacing)*1);
            }

            figure{
                grid-column: 1;
                grid-row: 2;
            }

            .title-group{
                grid-column: 2;
                grid-row: 2;
                padding: 0;
                margin: 0;
                h2{
                    padding: 0;
                    margin: 0;
                }
               
            }

            #header__edit-button{
                display: none;
            }

            .member__hero{
                grid-column: span 2;
                border-top: var(--border-light);
                margin-top: calc(var(--spacing)*0.75);
                padding-top: calc(var(--spacing)*1.5);
            }

            .short-bio{
                font-size: var(--fs-medium);
            }

        }

        .member__details{
            margin-bottom: calc(var(--spacing)*4);

            dd{
                font-size: var(--font-size);
            }
        }

        .member__toc{
            display: none;
        }
    }

    
}