   #research-items{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        // padding: 12px;
        align-items: center;
        padding-top: calc(var(--spacing)*1.5);
        padding-bottom: calc(var(--spacing)*1);

   
    }


    // research-separator

    .research-separator{
        font-family: var(--mono);
        font-weight: var(--fw-mono);
        font-size: var(--fs-small);
        color: var(--color-txt-light);
    }

 
    // Tags de recherche
    .research-tag {
        @include button();
        color: var(--color);
        border-color: var(--color);
        background: var(--color-xlight);
        gap: 0.75ch;
        align-items: center;
        cursor: pointer;

        .tag-remove{
            color: var(--color);
            font-size: var(--font-size);
            line-height: 0em;
            position: relative;
            top: 0.5px;
            cursor: pointer;

        }
        &:hover{

            border-color: var(--color);
            background-color: transparent;
        }

      
    }

    // Bouton reset
    .reset-button {
        @include button();
        margin-left: auto;
    }