#site-header{
    // display: none;
    background-color: var(--color-bg);
    width: 100%;
    display: flex;
    // align-items: flex-end;
    justify-content: space-between;
    background-color: red;


    svg{
        width: 140px;
    }

   
}


#site-nav{
    font-family: var(--mono);
    font-weight: var(--fw-mono);
    text-transform: uppercase;

    ul{ 
        display: flex;
        gap: 2ch;
        list-style-type: none;
    }

    a{
        text-decoration: none;
    }
}



.search-container{}