#site-header{
    // display: none;
    background-color: var(--color-bg);
    height: var(--header-h);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: var(--padding-body);
    padding-right: calc(var(--padding-body)*3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;

    border-bottom: var(--border-light);

    


    svg{
        height: calc(var(--header-h) - 30px);
    }

   
}


#site-nav{
    font-family: var(--mono);
    font-weight: var(--fw-mono);
    // text-transform: uppercase;
    // display: none;

    ul{ 
        display: flex;
        gap: 5ch;
        list-style-type: none;
        color: var(--color-900);
    }

    a{
        text-decoration: none;
        &:hover{
            color: var(--accent);
        }
    }
}





#site-header{
    transition: height .4s ease-in;

    svg{
        transition: height .4s ease-in,
        top .2s ease-in;
        #baseline{
            opacity: 1;
            transition: opacity .2s ease-in;
        }
        #logo-text{
            // transform: translate(0px, 0px);
            transition: transform .4s ease-in;
        }   
    }
}
#section__search{
    transition: top .4s ease-in;
}

#section__skills-tree{
    transition: top .4s ease-in,
                width .3s ease-in;
}


body.is-header-shrinked{
    --header-h: var(--header-h-small);

    #site-header svg{
        height: calc(var(--header-h) - 15px);
        position: relative;
        top: 3px;
        #baseline{
            opacity: 0!important;
        }
        #logo-text{
            transform: translate(5%, 11%);
        }
    }

   
}