#site-header{
    background-color: var(--color-bg);
    height: var(--header-h);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: var(--padding-body);
    padding-right: calc(var(--padding-body)*3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    border-bottom: var(--border-light);

}


#input-toggle-menu{
    display: none;
}


#toggle-menu{
    @include button();
    height: calc(var(--button-h)*1.25);
    width: calc(var(--button-h)*1.25);
    padding: 0;
    align-items: center;
    justify-content: center;
    svg{
        width: 18px;
        fill: var(--color-txt);
    }
}

#site-nav{
    font-family: var(--mono);
    font-weight: var(--fw-mono);

    ul{ 
        display: flex;
        gap: 5ch;
        list-style-type: none;
        color: var(--color-txt);
    }

    a{
        text-decoration: none;
        &:hover{
            color: var(--accent);
        }
    }

    .btn{
        @include button-color();
        position: relative;
        top: 1px;
    }
}


@media #{$small}{

    #site-header{
        #site-title svg{
            height: calc(var(--header-h) - 15px);
            position: relative;
            top: 3px;
            #baseline{
                opacity: 0!important;
            }
            #logo-text{
                transform: translate(5%, 11%);
            }
        }
    }
}


@media #{$small-up}{

#site-header{
    transition: height .4s ease-in;

    #site-title svg{
        height: calc(var(--header-h) - 30px);
        transition: height .4s ease-in,
        top .2s ease-in;
        #baseline{
            opacity: 1;
            transition: opacity .2s ease-in;
        }
        #logo-text{
            // transform: translate(0px, 0px);
            transition: transform .4s ease-in;
        }   
    }
}

#section__search{
    transition: top .4s ease-in;
}

#section__skills-tree{
    transition: top .4s ease-in, width .3s ease-in;
}


body.is-header-shrinked{
    --header-h: var(--header-h-small);

    #site-header #site-title svg{
        height: calc(var(--header-h) - 15px);
        position: relative;
        top: 3px;
        #baseline{
            opacity: 0!important;
        }
        #logo-text{
            transform: translate(5%, 11%);
        }
    }

   
}

}


@media #{$small}{

    #site-header{
        padding-right: var(--padding-body);
    }
   
    #site-nav{
        width: calc(100vw + 1px);
        height: calc(100vh - var(--header-h));
        position: fixed;
        left: 100vw;
        top: calc(var(--header-h)*1);
        background-color: var(--color-bg);
        transition: left .3s ease-in;
        border-left: var(--border-light);

        padding: var(--padding-body);
        padding-top: calc(var(--spacing)*3);

        .btn{
            display: inline-flex;
        }

        ul{
            display: block;
        }

        .main li{
            margin-bottom: calc(var(--spacing)*1);
        }

        .title-nav{
            font-family: var(--font);
            font-size: var(--fs-medium);
            margin-top: calc(var(--spacing)*4);
            margin-bottom: calc(var(--spacing)*2);
            border-top: var(--border-light);
            padding-top: calc(var(--spacing)*1);
        }

        .member__toc{
            li{
                padding-bottom: calc(var(--spacing)*1);
                &::before{
                    content: "→ "
                }
            }
            .back-to-top{ display: none;}
        }
        
    }

    #input-toggle-menu:checked ~ #site-header #site-nav{
        left: -1px;
    }

}


@media #{$small-up}{
    #toggle-menu{
        display: none;
    }

}