#site-footer{
    border-top: var(--border-light);
    svg{ width: 100px; }
    // display: none;

    .container{
        max-width: var(--max-width);
        padding: calc(var(--spacing)*4) var(--padding-body);
    }
}