#skills-tree{
  
    font-family: var(--mono);
    font-weight: var(--fw-mono);

    ul, li{
        list-style: none;
        position: relative;
    }



    .item{
        --size-label: 14px;
        width: var(--tree-w);
        height: var(--tree-item-h);
        border-bottom: 1px solid var(--color-100);
        padding: 2px 0px;
        display: flex;


        justify-content: flex-start;
        align-items: center;
        margin-bottom: 4px;
        position: relative;
        color: var(--color);


        .name{
            flex-grow: 3;
            white-space: nowrap;
            cursor: pointer;
            padding-left: 1ch;
        }
        .item__checkbox{
            display: none;
        }
    



     

        .item__checkbox + label{

       
            height: var(--size-label);
            width: var(--size-label);
            background-color: var(--color-100);
            // background-color: var(--color);
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            
            svg{
                fill: transparent;
                width: 9px;
            }

            &:hover{
                background-color: var(--color-light);
                svg{
                    fill: var(--color-bg);
                }
            }

        }
        .item__checkbox:checked  + label{
            background-color: var(--color);
            svg{
                fill: var(--color-bg);
            }
        }
        .count{ display: none; }

        .btn__toggle{
            width: calc(100% - var(--size-label)*1.5);
            position: absolute;
            left: calc(var(--size-label)*1.5);

            font-size: 1.2em;
            line-height: 1;
            font-family: var(--mono);
            font-weight: var(--fw-mono);
            color: var(--color-600);

            align-items: center;
            justify-content: flex-end;
     
            cursor: pointer;
            // background-color: red;
        }
      
        cursor: pointer;
        // &:hover{
        //     background-color: var(--color-100);
        // }
    }

    .skill__item{
        width: calc(var(--tree-w) - var(--tree-indent));
        margin-left: var(--tree-indent);
    }

    .detail__item{
        width: calc(var(--tree-w) - var(--tree-indent)*2);
        margin-left: calc(var(--tree-indent)*2);
    }



    .item__graph{
        flex-wrap: wrap;
        gap: 2px;
        position: absolute;
        left: calc(var(--tree-w) + var(--padding-body)*0.5);
        top: calc((var(--tree-item-h) - var(--block-graph))*0.5);

        .info{
            font-size: var(--fs-small);
            color: var( --color-300);
            padding-left: 1ch;
            background-color: var(--color-bg);
        }
        
    }

    .item__graph .block{
        height: var(--block-graph);
        width: var(--block-graph);
        background-color: var(--color);
    }


}


#skills-tree__nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: calc(var(--tree-item-h)*0.5);
    gap: 6px;

    .toggle-all, #toggle-graph{
        color: var(--color-900);
        border: 1px solid var(--color-200);
        font-family: var(--mono);
        font-weight: var(--fw-mono);
        height: 20px;
        border-radius: var(--radius-small);
        padding: 0 1ch;
        display: flex;
        align-items: center;
        gap: 1ch;
        cursor: pointer;
        
    }

    #toggle-graph{
        svg{
            width: 12px;
            
            fill: var(--color-900);
            transform: rotate(90deg);
        }
    }
}


// Interactions

// Lists
#skills-tree{
    ul.is-collapsed {
        display: none;
    }

    ul.is-open{
        display: block;
    }

    .btn__toggle{ 
        display: none; 
    }

    .has-child > .item{
        .btn__toggle{ 
            display: flex; 
            .when-expanded{ display: none}
        }
    }

    li.is-open > .item {
        .btn__toggle{
            .when-expanded{ display: inline; }
            .when-collapsed{ display: none; }
        }
    
    }

}


// nav
#skills-tree__nav{
    .toggle-all.is-collapsed{
        .when-expanded{ display: none; }
        .when-collapsed{ display: inline; }
    }
    .toggle-all.is-expanded{
        .when-collapsed{ display: none; }
        .when-expanded{ display: inline; }
    }
}




body {

    #section__skills-tree{
        width: calc(var(--tree-w) + var(--padding-body)*1);
    }
  
    .item__graph{
        display: none;
    }
}

body.graph-view {
    #section__skills-tree{
        width: 100vw;
    }

    .item__graph {
        display: flex;
      }
  }


