.skills-tree{
    max-width: 400px;
    font-family: var(--mono);
    font-weight: var(--fw-mono);
    ul {
        list-style: none;
        ul{
            margin-left: 2em;
        }
    }

  


    .item{
        border: 1px solid var(--color);
        padding: 2px 1ch;
        display: flex;
        justify-content: space-between;
        margin-bottom: 4px;
        position: relative;

        &::after{
                content: "";
                position: absolute;
                bottom: -2px;
                left: -3px;
                width: 4px;
                height: 8px;
                // border-bottom: 2px solid black;
                border-right: 1px solid var(--color);
                transform: translate(1px, 1px) rotate(-45deg);
                transform-origin: center center;
                background-color: var(--color-bg);
            
        }


        .count{ display: none; }
        .icon{ display: none; }

        &:hover{
            background-color: var(--color-xlight);
        }
    }

    .has-child > .item{
        .icon{ display: block; }
    }

    .field__item .name{
        text-transform: uppercase;
    }

    
}



// Interactions

.skills-tree{
    .is-collapsed {
        display: none;
    }
    
    .is-open{
        display: block;
    }
}


#skills-tree__nav .is-all-open{
    .all-closed{ display: none; }
    .all-open{ display: inline; }
}

#skills-tree__nav .is-all-closed{
    .all-closed{ display: inline; }
    .all-open{ display: none; }
}