.page-static{

    .main--container{
        max-width: var(--max-width-txt);
        margin: 0 auto;
        padding: 0 var(--padding-body);
        min-height: 70vh;
    }

    @include content-txt();

   

    #btn--newsletter{
        @include button-bold();
        font-size: var(--fs-medium);
        height: calc(var(--button-h)*1.5);
        margin-top: calc(var(--spacing)*4);
        a{
            text-decoration: none;
        }
    }

    #btn--newsletter ~ #back-to-top{
        display: none!important;
    }


}