.page-static{

   
    .main--container{
        padding: 0 var(--padding-body);
        margin: 0 auto;
        min-height: calc(100vh - var(--heaeder-h) - var(--footer-h));
        min-height: calc(100dvh - var(--heaeder-h) - var(--footer-h));
        position: relative;
    }

    @include content-txt();

    h2{
        margin-top: calc(var(--spacing)*4);
    }


    position: relative;


    #sub-header .container{
        max-width: calc(var(--col-left) + var(--padding-body)*2 + var(--max-width-txt));
        a{ 
            color: var(--color-txt); 
            &:hover{ color: var(--accent-soft); }
        }
    }
   

    #btn--newsletter{
        @include button-bold();
        font-size: var(--fs-medium);
        height: calc(var(--button-h)*1.5);
        margin-top: calc(var(--spacing)*4);
        a{
            text-decoration: none;
        }
    }

    #btn--newsletter ~ #back-to-top{
        display: none!important;
    }

    #anr{
        
        margin-top: calc(var(--spacing)*6);
        display: flex;
        gap: 20px;

        img{
            width: 80px;
            height: 80px;
        }
        p{
            font-family: var(--mono);
            font-size: var(--fs-small);
            font-weight: var(--fw-mono);
            // font-style: italic;
            max-width: 74ch;

        }
    }


}

@media #{$small}{
    .page-static  .page-toc{
        display: none;
    }
}


@media #{$small-up}{
    .page-static {
        .main--container{
            max-width: calc(var(--col-left) + var(--padding-body)*2 + var(--max-width-txt));
            padding-left: calc(var(--col-left) + var(--padding-body)*3);
        }

        .page-toc{
            position: sticky;
            top: calc(var(--header-h) + var(--subheader-h));
            margin-bottom: -100px;
            width: 1px;
    
            ul{
                position: relative;
                width: var(--col-left);
                left: calc(var(--col-left)*-1 + var(--padding-body)*-2);
                top: calc(var(--spacing)*-0.5);
                padding-top: calc(var(--spacing)*5);
            }

            .back-to-top{
                position: absolute;
                bottom: 0px;
                left: calc(var(--col-left)*-1 + var(--padding-body)*-2);
            }
        
        }
    }
    
   
}

