.page-static{

   
    .main--container{
        max-width: var(--max-width-txt);
        padding: 0 var(--padding-body);
        margin: 0 auto;
        min-height: 70vh;
        position: relative;
    }

    @include content-txt();


    .page-toc{
        position: absolute;
        width: var(--col-left);
        // background-color: yellow;
        left: calc(var(--col-left)*-1 + var(--padding-body)*-2);
        margin-top: calc(var(--spacing) * 3.5);
        padding-top: calc(var(--spacing) * 1.5);
    }
   

    #btn--newsletter{
        @include button-bold();
        font-size: var(--fs-medium);
        height: calc(var(--button-h)*1.5);
        margin-top: calc(var(--spacing)*4);
        a{
            text-decoration: none;
        }
    }

    #btn--newsletter ~ #back-to-top{
        display: none!important;
    }


}